$fs-1: 16.67px;
$fs-2: 25px;
$ff-1: "Open Sans", "sans-serif";
$ff-2: "Raleway", "sans-serif";

.scroll
{
    position: fixed !important;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
}
.header-shop-cart,
.header-search-icon
{
    cursor: pointer;
}
.login,
.signup
{
    cursor: pointer;
}
input[type="text"]
{
	outline: none !important;
}
textarea
{
	outline: none !important;
	resize: none !important;
}
.inline
{
	display: inline-block;
}
.lft
{
	text-align: left;
}
.rght
{
	text-align: right;
}
.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
}
.popup-bg
{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272727;
    opacity: 0.8;
}
.pick-up-popup
{
	position: fixed;
	font-size: $fs-1;
	top: 15%;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    & img
    {
    	width: 60%;
    }
    .exit
    {
    	position: absolute;
    	width: 50px;
    	top: -20px;
   		left: 59%;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    cursor: pointer;
    }
}
.add-cart-popup
{
	@extend .pick-up-popup;
	width: 1000px;
	background-color: white;
	min-height: 500px;
	font-weight: 600 !important;
	font-family: 'Open Sans', sans-serif;
	color: #626262;
	position: absolute !important;
	padding-bottom: 40px;
	top: 10%;
	.exit-cart
	{
		@extend .exit;
		left: 97%;
	}
	.add-cart-line
	{
		background-color: #feb300;
		height: 10px;
		margin-bottom: 15px;
	}
	.add-cart-line-gray
	{
		background-color: #e2e2e2;
		height: 10px;
		margin: 10px 0;
	}
	.add-cart-content
	{
		text-align: center;
		width: 90%;
		margin: auto;
		table-layout: fixed;
		.add-cart-header
		{
		    display: block;
			td
			{
				font-size: 14.57px;
				color: #2e2d2d;
				font-weight: 600;
				display: table-cell;
                width: 2%;
			}
		}
		.add-cart-holder
		{
		     overflow-y: auto;
             height: 295px;
             display: block;
		}
		.add-cart-row
		{
			outline: 1px solid #c6c6c6;
			font-weight: 600 !important;
			td
			{
				border-right: 2px solid #dadada;
				display: table-cell;
                width: 2%;
			}
			td:last-child
			{
				border-right: none;
			}
			select
			{
				font-size: 14.57px;
				color: #2e2d2d;
				padding: 10px;
				font-weight: 600;
			}
			.sub-total
			{
				color: #033275;
				font-size: 30px;
			}
		}
		.cart-icon
		{
			width: 40px;
			display: inline-block;
			vertical-align: top;
			padding: 7px 0;
		}
		.cart-icon-text
		{
			font-size: 25px; 
			color: #2e2d2d; 
			font-weight: bold;
			display: inline-block;
			vertical-align: top;
			padding-top: 6px;
			padding-left: 5px;
		}
		.item-pic
		{
			width: 80px;
		}
		.item-name
		{
			font-size: 14.57px;
			color: #2e2d2d;
			font-weight: 600;
		}
	}
	.add-cart-total
	{
		font-size: 0;
		.add-cart-total-message
		{
			display: inline-block;
			vertical-align: top;
			font-size: 16.67px;
			color: #5d5d5d;
			padding: 10px;
			width: 550px;
			text-align: left;
		}
		.add-cart-total-holder
		{
			display: inline-block;
			vertical-align: top;
			width: 350px;
			.blue
			{
				font-size: 30px !important;
				color: #033275 !important;
				font-weight: bold;
			}
			.right
			{
				margin-right: 60px;
			}
			.add-cart-total-text
			{
				font-size: 20.83px;
				color: #2e2d2d;
				display: inline-block;
			}
			.add-cart-total-button
			{
				font-size: 20.75px;
				background-color: #033275;
				padding: 10px;
				color: white;
				width: 240px;
				margin-left: 65px;
				margin-top: 20px;
				cursor: pointer;
			}
		}
		
	}
}
.login-popup
{
	@extend .pick-up-popup;
	background-color: white;
	width: 800px;
	position: absolute;
	margin-bottom: 5%;
	.exit-cart
	{
		@extend .exit;
		left: 96%;
	}
	.login-menu
	{
		text-align: left;
		margin-left: 10px;
		font-size: 13.64px;
		font-weight: 600;
		height: 40px;
		.yellow
		{
			background-color: #feb300;
			color: white;
		}
		.login-menu-text
		{
			display: inline-block;
			vertical-align: top;
			padding: 0px 15px;
			margin: 10px 15px 10px 0px;
		}
		.h-line
		{
			vertical-align: top;
			display: inline-block;
			width: 2px;
			margin-top: 8px;
			height: 60%;
			background-color: #e8e8e7;
		}
	}
	.login-header
	{
		font-size: 13.69px;
		color: #626262;
		font-weight: bold;
		margin: 10px 0 40px;
	}
	.login-content
	{
		font-size: 13.69px;
		color: #626262;
		.login-holder
		{
			margin: 10px 0;
			.login-label
			{
				display: inline-block;
				vertical-align: top;
				width: 130px;
				text-align: left;
				padding: 7px 0;
				font-weight: 600;
			}
			.login-input
			{
				display: inline-block;
				vertical-align: top;
				width: 350px;
				text-align: left;
				font-weight: 600;
				input[type="text"]
				{
					height: 35px;
					width: 350px;
				}
				select
				{
					height: 35px;
					&.big
					{
						width: 40%;
					}
					&.small
					{
						width: 17.5%;
					}
				}
				input[type="checkbox"]
				{
					height: 35px;
					width: 35px;
				}
				span
				{
					display: inline-block;
					vertical-align: top;
					padding: 10px;
				}
				.gender
				{
					margin-left: 30px;
				}
				.yellow
				{
					color: #feb300;
				}
				.half
				{
					width: 49.4% !important;
					margin: 10px 0;
					text-align: center;
				}
				.login-submit
				{
					background-color: #033275;
					color: white;
					width: 100%;
					padding: 5px;
					text-align: center;
					font-size: 20.53px;
					cursor: pointer;
				}
			}
		}
	}
}
.login-popup
{
	.login-login-holder
	{
		padding: 40px 0;
		.login-login-submit
		{
			background-color: #033275;
			color: white;
			width: 436px;
			padding: 10px;
			text-align: center;
			font-size: 20.53px;
			cursor: pointer;
			margin: auto;
		}
		.login-login-user
		{
			margin: 10px 0;
			input[type="text"]
			{
				background: url("../img/login-bg.png");
				border: none;
				height: 59px;
				width: 456px;
				padding: 10px 100px 10px;
				font-size: 18px;
			}
		}
		.login-login-pass
		{
			margin: 10px 0;
			input[type="password"]
			{
				background: url("../img/password-bg.png");
				height: 59px;
				border: none;
				width: 456px;
				outline: none;
				padding: 10px 100px 10px;
			}
		}
		.login-login-forgot
		{
			font-size: 16px;
			color: #7c7d7e;
			padding: 20px 0;
		}
	}
}
.single-product-relate-button:hover
{
	background-color: #febf00 !important;
	color: #033275 !important;
	cursor: pointer;
}
.single-product-description-button:hover
{
	@extend .single-product-relate-button;
}
.feature-button
{
	@extend .single-product-relate-button;
}
.product-button
{
	@extend .single-product-relate-button;
}
.hide
{
	display: none;
}

.wrapper
{
	.content
	{
		.single-product-info
		{
			font-family: $ff-1;
			max-width: 1000px;
			margin: auto;
			.single-product-info-header
			{
				font-weight: 600;
				font-size: 0;
				a
				{
					text-decoration: none;
					color: #5b5b5b;
				}
				.center
				{
					margin: 0 1.6%;
				}
				.active
				{
					background-color: #feb300 !important;
				}
				.single-product-info-tab
				{
					display: inline-block;
					width: 32%;
					border: 1px solid #848586;
					font-size: $fs-2;
					padding: 15px 0;
					background-color: #f0f2f3;
					cursor: pointer;
					@media screen and (max-width: 880px)
					{
						font-size: 20px;
					}
					@media screen and (max-width: 760px)
					{
						width: 31.5% !important;
						font-size: 15px;
					}
					@media screen and (max-width: 545px)
					{
						font-size: 13px;
					}
					@media screen and (max-width: 475px)
					{
						font-size: 10px;
					}
				}
			}
			.single-product-info-content
			{
				border: 2px solid #dbdbdc;
				border-radius: 5px;
				padding: 30px;
				min-height: 400px;
				.single-product-info-icon
				{
					margin-top: 60px;
				}
				.single-single
				{
					font-size: $fs-1;
					text-align: left;
					color: #252627;
					ul
					{
						li
						{
							margin: 20px 0;
						}
					}
				}
			}
		}
		.single-product-relate
		{
			margin-top: 40px;
			.single-product-relate-header
			{
				font-size: 41.67px;
				color: #252627;
				font-family: "Open Sans";
				font-weight: 600;
				margin: 20px 0;
			}
			.single-product-relate-holder
			{
				color: #252627;
				font-family: $ff-1;
				width: 300px;
				display: inline-block;
				margin: 30px 0;
				a
				{
					text-decoration: none;
					color: white;
				}
				.single-product-relate-img img
				{
					height: 300px;
				}
				.single-product-relate-name
				{
					font-size: 23.07px;
					font-weight: bold;
					padding: 10px 0;
				}
				.single-product-relate-description
				{
					font-size: 15.04px;
					padding: 10px 0;
					width: 200px;
					margin: auto;
				}
				.single-product-relate-price
				{
					@extend .single-product-relate-name;
				}
				.single-product-relate-button
				{
					font-size: 20.83px;
					background-color: #033275;
					font-weight: 600;
					width: 150px;
					padding: 5px 20px;
					margin: auto;
					cursor: pointer
				}
			}
		}
	}
}

//ABOUT
.content
{
	.about-header
	{
		background: url("../img/about-header.png");
		min-height: 175px;
		.about-header-text
		{
			color: white;
			font-size: 41.67px;
			font-weight: bold;
			padding: 63px 0;
		}
	}
	.about-content
	{
		.about-content-text
		{
			font-size: 16.67px;
			color: #252424;
			max-width: 980px;
			margin: auto;
			text-align: left;
			font-family: $ff-1;
			& p
			{
				margin: 40px 0 !important;
			}
		}
	}
}

//CONTACT US
.content
{
	.contact
	{
		font-family: "Raleway";
		.contact-header
		{
			background: url("../img/contact-header.png");
			background-position: center;
			background-size: cover;
			min-height: 140px;
			background-repeat: no-repeat;
			.contact-header-text
			{
				font-size: 33.33px;
				color: white;
				font-weight: bold;
				padding: 50px 0;
			}
		}
		.contact-content
		{
			.contact-sub
			{
				font-size: 25px;
				color: #464545;
				font-weight: bold;
				padding: 20px 0;
				font-family: "Open Sans";
			}
			.contact-holder
			{
				display: inline-block;
				vertical-align: top;
				width: 33.33%;
				margin-top: 30px;
				height: 300px;
				@media screen and (max-width: 640px)
				{
				    display: block !important;
				    width: 100% !important;
				    height: none !important;
				    margin-top: 0 !important;
				    height: auto !important;
				}
				.contact-img
				{
					img
					{
						height: 70px;
					}
				}
				.contact-text
				{
					font-size: 16.67px;
					color: #7d7d7d;
					margin: 20px 0;
					font-family: "Open Sans";
					width: 80%;
					margin: auto;
					padding: 20px 0;
					
				}
			}
			.message
			{
			    @media screen and (max-width: 800px)
				{
					margin-bottom: -30px !important;
				}
				.message-header
				{
					.message-header-text
					{
						img
						{
							padding: 80px 0;
						}
					}
				}
				.message-line
				{
					background-color: #feb300;
					height: 5px;
				}
				.message-content
				{
					background: url("../img/message-bg.png");
					background-size: cover;
					background-position: center;
					height: 620px;
					padding-top: 60px;
					@media screen and (max-width: 800px)
					{
					    height: auto;
					}
					.small
					{
						width: 45%
					}
					.big
					{
						width: 55%;
					}
					.message-holder
					{
						display: inline-block;
						vertical-align: top;
						@media screen and (max-width: 800px)
						{
						    display: block !important;
						    width: 100% !important;
						    text-align: center !important;
						}
						.message-input
						{
							input[type="text"]
							{
								font-size: 16.67px;
								font-family: "Open Sans";
								padding: 15px;
								width: 70%;
								margin: 30px 0;
							}
							textarea
							{
								font-family: "Open Sans";
								font-size: 16.67px;
								padding: 15px;
								margin: 20px 30px;
								width: 80%;
								height: 305px;
							}
						}
					}
					.message-button
					{
						background-color: #feb300;
						color: white;
						padding: 10px;
						width: 150px;
						font-size: 25px;
						font-family: "Open Sans";
						margin: 90px auto;
						cursor: pointer;
						@media screen and (max-width: 800px)
    					{
    					    margin: 20px auto 0;
    					}
					}
				}
			}
		}
	}
}

// STEP 
.step
{
	overflow: auto;
	.header-logo
	{
		float: left;
		padding-left: 5px;
		img
		{
			padding: 8px 0 !important;
		}
	}
	.step-logo
	{
		.step-logo-holder
		{
			display: inline-block;
			vertical-align: top;
			margin: 5px 60px;
			width: 160px;
			.step-logo-name
			{
				font-size: 15.26px;
				color: #033275;
				font-weight: 600;
			}
		}
		&-first
		{
			background: url("../img/step-icon/step-icon.png");
			width: 79px;
 			height: 79px;
 			display: inline-block;
 			vertical-align: top;
 			background-position: 79px 0;
 			&:hover
 			{
 				background-position: 79px 79px;
 			}
 			&:hover + .step-logo-name
 			{
 				color: #feb300;
 			}
		}
		&-second
		{
			@extend .step-logo-first;
			background-position: 158px 0;
			&:hover
 			{
 				background-position: 158px 79px;
 			}
 			&:hover + .step-logo-name
 			{
 				color: #feb300;
 			}
		}
		&-third
		{
			@extend .step-logo-first;
			background-position: 237px 0;
			&:hover
 			{
 				background-position: 237px 79px;
 			}
 			&:hover + .step-logo-name
 			{
 				color: #feb300;
 			}
		}
	}
}
.step-divider
{
	background-color: #e2e3e4;
	height: 5px;
	width: 100%;
}
.step-content
{
	padding: 30px;
	color: #4b4b4b;
	font-weight: 600;
	.step-email
	{
		width: 700px;
		border: 1px solid #c2c2c2;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 100px;
		.step-email-space
		{
			width: 46px;
			display: inline-block;
		}
		.step-email-icon-text-holder
		{
			margin-top: 100px;
		}
		.step-email-icon
		{
			display: inline-block;
			vertical-align: top;
			padding-right: 10px;
		}
		.step-email-text
		{
			display: inline-block;
			vertical-align: top;
			input[type="text"],input[type="password"]
			{
				height: 36px;
				padding: 5px;
				font-family: "Open Sans";
				font-size: 16.67px;
				font-weight: 600;
				width: 300px;
			}
		}
		.step-email-radio-holder
		{
			width: 250px;
			margin: auto;
			padding: 15px 0;
			.step-email-radio
			{
				text-align: left;
				padding: 10px 0;
			}
		}
		.step-email-button
		{
			background-color: #feb300;
			color: white;
			border-bottom: 5px solid #e6a303;
			width: 250px;
			font-size: 25px;
			font-weight: 300;
			margin: 55px auto;
			padding: 5px 0;
			cursor: pointer;
		}
	}
	.step-info
	{
		display: inline-block;
		vertical-align: top;
		width: 700px;
		border: 1px solid #c2c2c2;
		.step-info-header
		{
			color: white;
			background-color: #033275;
			font-size: 20.83px;
			padding: 7.5px 15px;
			text-align: left;
		}
		.step-info-content
		{
			margin-top: 40px;
			.step-info-input
			{
				padding: 5px 0;
				.step-info-input-text
				{
					display: inline-block;
					vertical-align: top;
					font-size: 16.67px;
					width: 160px;
					text-align: left;
					padding: 5px 0;
				}
				input[type="text"]
				{
					display: inline-block;
					vertical-align: top;
					height: 35px;
					width: 300px;
					font-size: 16.67px;
					padding: 10px;
				}
				textarea
				{
					resize: none;
					height: 70px;
					width: 300px;
					outline: none;
					font-family: "Open Sans";
					font-size: 16.67px;
					padding: 10px;
				}
			}
			.step-info-button
			{
				background-color: #feb300;
				color: white;
				border-bottom: 5px solid #e6a303;
				width: 250px;
				font-size: 25px;
				font-weight: 300;
				margin: 55px auto 49.5px;
				padding: 5px 0;
				cursor: pointer;
			}
		}
	}
	.step-payment
	{
		display: inline-block;
		vertical-align: top;
		width: 700px;
		border: 1px solid #c2c2c2;
		.step-payment-header
		{
			color: white;
			font-size: 16.67px;
			background-color: #033275;
			padding: 10px 0;
		}
		.step-payment-content
		{
			.inline
			{
				display: inline-block;
				margin: 0 20px;
			}
			.mt
			{
				margin-top: 50px;
			}
			.step-payment-input
			{
				text-align: left;
				width: 280px;
				.half
				{
					width: 49% !important;
				}
				.ml
				{
					margin-left: 2% !important;
				}
				.step-payment-input-text
				{
					font-size: 16.67px;
					padding-bottom: 5px;
				}
				input[type="text"]
				{
					height: 35px;
					width: 280px;
					padding: 5px;
				}
			}
			.step-payment-option
			{
				display: inline-block;
				vertical-align: top;
				margin: 20px 50px;
				input[type="radio"]
				{
					display: block;
					margin: auto;
					width: 20px;
					height: 20px;
					margin-top: 20px;
				}
				img
				{
					display: block;
					height: 50px;
				}
			}
			.step-payment-button
			{
				background-color: #feb300;
				color: white;
				border-bottom: 5px solid #e6a303;
				width: 350px;
				font-size: 25px;
				font-weight: 300;
				margin: 79px auto;
				padding: 10px 0;
				cursor: pointer;
			}
			.step-payment-message
			{
				font-size: 16.67px;
				padding: 80px 0;
			}
		}
	}
	.step-order-holder
	{
		display: inline-block;
		vertical-align: top;
		.step-ship
		{
			border: 1px solid #c2c2c2;
			margin-bottom: 5px;
			.step-ship-header
			{
				background-color: #033275;
				font-size: 16.67px;
				padding: 10px 0;
				color: white;
			}
			.step-ship-content
			{
				.step-ship-content-header
				{	
					font-size: 25px;
					font-weight: bold;
					padding: 5px 0;
				}
				.step-ship-content-text
				{
					font-size: 16.67px;
					padding: 20px 0;
				}
			}
		}
	}
	.step-order
		{
			width: 400px;
			display: inline-block;
			vertical-align: top;
			border: 1px solid #c2c2c2;
			.step-order-header
			{
				color: white;
				background-color: #033275;
				font-size: 16.67px;
				padding: 10px 0;
			}
			.gray
			{
				background-color: #efefee;
			}
			.step-order-content
			{
				display: table;
				width: 100%;
				table-layout: fixed;
				.no-cell
				{
					display: block !important;
				}
				.bold
				{
					font-weight: bold;
				}
				.step-order-item-holder
				{
					overflow-y: auto;
					height: 295px;
				}
				.step-order-total
				{
					background-color: #033275;
					overflow: auto;
					color: white;
					.left
					{
						float: left;
						font-size: 16.67px;
						padding: 26px 0;
						padding-left: 20px;
					}
					.right
					{
						float: right;
						font-size: 25px;
						padding: 20px 0;
						padding-right: 20px;
					}
					.step-order-total-text
					{

					}
				}
				.step-order-item
				{
					display: table-row;
					padding: 15px 0;
					img
					{
						display: inline-block;
						vertical-align: top;
					}
					span
					{
						display: inline-block;
						vertical-align: top;
					  	padding: 5px 10px;
					}
					.step-order-item-text
					{
						display: table-cell;
						width: 2%;
						padding: 25px 0;
					}
				}
			}
		}
}

.footer
{
	clear: both;
}