.about-container {
  text-align: center; }
  .about-container .about-header {
    padding: 25px 0; }
    .about-container .about-header .title {
      font-size: 37.5px;
      color: #6cab09; }
    .about-container .about-header .img {
      display: table-cell;
      vertical-align: middle; }
      @media screen and (max-width: 991px) {
        .about-container .about-header .img {
          display: block;
          margin: 25px 0; } }
      @media screen and (max-width: 300px) {
        .about-container .about-header .img img {
          width: 100%; } }
    .about-container .about-header .text {
      display: table-cell;
      vertical-align: middle;
      font-size: 20.83px;
      color: #434040;
      padding: 0 30px;
      text-align: left;
      line-height: 40px; }
      @media screen and (max-width: 991px) {
        .about-container .about-header .text {
          display: block;
          font-size: 18px; } }
      @media screen and (max-width: 991px) {
        .about-container .about-header .text {
          line-height: 30px; } }
  .about-container .about-quote {
    background-image: url("/resources/assets/frontend/img/about-parallax.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 0; }
    .about-container .about-quote .text {
      display: table-cell;
      vertical-align: middle;
      color: white;
      font-size: 25px;
      padding: 5px 20px; }
      @media screen and (max-width: 991px) {
        .about-container .about-quote .text {
          display: block;
          font-size: 30px; } }
      @media screen and (max-width: 991px) {
        .about-container .about-quote .text {
          line-height: 30px; } }
      .about-container .about-quote .text span {
        font-size: 40px; }
        @media screen and (max-width: 991px) {
          .about-container .about-quote .text span {
            font-size: 40px; } }
    .about-container .about-quote .img {
      display: table-cell;
      vertical-align: middle;
      padding: 0 30px; }
      @media screen and (max-width: 991px) {
        .about-container .about-quote .img {
          display: block;
          margin: 25px 0;
          padding: 0; } }
      @media screen and (max-width: 300px) {
        .about-container .about-quote .img img {
          width: 100%; } }
  .about-container .about-award {
    padding: 25px 0; }
    .about-container .about-award .img {
      display: table-cell;
      vertical-align: middle;
      padding: 0 50px; }
      @media screen and (max-width: 991px) {
        .about-container .about-award .img {
          display: block;
          margin: 25px 0; } }
      @media screen and (max-width: 400px) {
        .about-container .about-award .img img {
          width: 100%; } }
    .about-container .about-award .text {
      display: table-cell;
      vertical-align: middle;
      font-size: 25px;
      color: #676767;
      padding: 10px;
      line-height: 60px; }
      @media screen and (max-width: 991px) {
        .about-container .about-award .text {
          display: block;
          font-size: 20px; } }
      @media screen and (max-width: 991px) {
        .about-container .about-award .text {
          line-height: 30px; } }
      .about-container .about-award .text span {
        font-size: 30px;
        color: #169f87; }
    .about-container .about-award .award {
      max-width: 900px;
      margin: 25px auto; }
      .about-container .about-award .award img {
        width: 100%; }
  .about-container .about-info {
    background-image: url("/resources/assets/frontend/img/about-info.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 0; }
    .about-container .about-info .text {
      font-size: 18px;
      color: white;
      padding: 20px 0; }
      @media screen and (max-width: 650px) {
        .about-container .about-info .text {
          font-size: 20px; } }
    .about-container .about-info .dots {
      background-image: url("/resources/assets/frontend/img/dots.png");
      width: 100%;
      height: 14px; }

/*# sourceMappingURL=about.css.map */
