a {
  outline: none !important; }
  a:hover {
    outline: none !important;
    text-decoration: none !important; }
  a:focus {
    outline: none !important;
    text-decoration: none !important; }

.head-text {
  color: #1767d2;
  font-weight: bold;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px; }

.sub-text {
  color: #a4a4a4;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif; }

.op {
  font-family: "Open Sans", sans-serif !important; }

.rw {
  font-family: "Raleway", sans-serif !important; }

.bold {
  font-weight: bold !important; }

.account {
  position: absolute;
  top: -55px;
  right: 0;
  overflow: auto;
  clear: both; }
  .account .text {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    vertical-align: middle;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .account .text:hover {
      color: #F1CB40; }
  .account a {
    vertical-align: middle; }
  .account span {
    vertical-align: middle;
    color: #fff;
    font-size: 20px; }

.mtop {
  margin-top: 200px !important; }

body {
  background-color: #1767d2; }
  body .stickies {
    position: fixed;
    top: 0;
    margin: 0 -15px !important;
    border-radius: 0px; }
    body .stickies .logo-holder {
      display: none !important; }
  body .navbar {
    margin-bottom: 0;
    margin-top: 80px;
    background-color: #f1cb40;
    border: 0 !important;
    top: 0px;
    z-index: 999;
    width: 100%; }
    body .navbar .navbar-nav {
      width: 100%;
      display: table;
      text-align: center; }
      @media screen and (max-width: 991px) {
        body .navbar .navbar-nav {
          display: block; } }
      body .navbar .navbar-nav .active a {
        background-color: transparent !important;
        color: #fff !important; }
      body .navbar .navbar-nav .logo-holder {
        width: 250px;
        position: relative; }
        @media screen and (max-width: 1050px) {
          body .navbar .navbar-nav .logo-holder {
            width: 200px; } }
        @media screen and (max-width: 991px) {
          body .navbar .navbar-nav .logo-holder {
            display: none !important; } }
        body .navbar .navbar-nav .logo-holder .logo {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: -60px;
          z-index: 999; }
      body .navbar .navbar-nav .nav-inside {
        display: table-cell;
        float: none; }
        @media screen and (max-width: 991px) {
          body .navbar .navbar-nav .nav-inside {
            display: block; } }
        body .navbar .navbar-nav .nav-inside a {
          color: #1767d2 !important;
          font-size: 14px;
          font-weight: bold; }
          @media screen and (max-width: 1135px) {
            body .navbar .navbar-nav .nav-inside a {
              font-size: 12px; } }
          body .navbar .navbar-nav .nav-inside a:hover {
            color: #fff !important;
            background-color: transparent !important; }
          body .navbar .navbar-nav .nav-inside a:focus {
            color: #fff !important;
            background-color: transparent !important; }
        body .navbar .navbar-nav .nav-inside .dropdown-menu li a:hover {
          color: #1767D2 !important; }

/*# sourceMappingURL=global.css.map */
