.opportunity {
  margin-top: 100px;
  font-family: "Roboto"; }
  .opportunity .opportunity-header {
    color: #50576d;
    font-size: 25px;
    font-weight: 700; }
  .opportunity .opportunity-sub {
    color: #50576d;
    font-size: 16.67px;
    margin-bottom: 100px; }
  .opportunity .opportunity-holder {
    text-align: left;
    margin: 50px 0; }
    .opportunity .opportunity-holder .one {
      background-color: #009999; }
    .opportunity .opportunity-holder .two {
      background-color: #003399; }
    .opportunity .opportunity-holder .three {
      background-color: #660099; }
    .opportunity .opportunity-holder .four {
      background-color: #990099; }
    .opportunity .opportunity-holder .five {
      background-color: #990066; }
    .opportunity .opportunity-holder .six {
      background-color: #cf0019; }
    .opportunity .opportunity-holder .seven {
      background-color: #f14f15; }
    .opportunity .opportunity-holder .eight {
      background-color: #fd7e11; }
    .opportunity .opportunity-holder .nine {
      background-color: #ffba08; }
    .opportunity .opportunity-holder .ten {
      background-color: #cad217; }
    .opportunity .opportunity-holder .number-holder {
      display: table-cell;
      width: 160px; }
      .opportunity .opportunity-holder .number-holder .number {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        box-sizing: content-box;
        padding: 40px;
        border-radius: 100%;
        position: relative;
        border: 15px solid #efefef;
        font-weight: bold;
        vertical-align: middle;
        text-align: center; }
        .opportunity .opportunity-holder .number-holder .number .content {
          color: white;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto; }
    .opportunity .opportunity-holder .text {
      display: table-cell;
      vertical-align: middle;
      color: #50576d;
      margin: 0 25px;
      padding: 20px 30px; }
      .opportunity .opportunity-holder .text .name {
        font-size: 28px;
        line-height: 28px;
        font-family: Roboto;
        font-weight: 300;
        color: #505558;
        margin-bottom: 13px; }
      .opportunity .opportunity-holder .text .description {
        font-size: 16.67px;
        font-size: 20px;
        line-height: 20px;
        font-family: Roboto;
        font-weight: 300;
        color: #505558;
        margin-bottom: 13px; }
      .opportunity .opportunity-holder .text .tables table {
        table-layout: fixed;
        color: #50576d;
        margin: 10px 0;
        text-align: center;
        font-size: 18px;
        border-collapse: collapse;
        border: 1px solid #E2DEDE; }
        .opportunity .opportunity-holder .text .tables table tbody tr:nth-child(even) {
          background: #f6f6f6; }
        .opportunity .opportunity-holder .text .tables table tbody tr:nth-child(odd) {
          background: #f0efef; }
        .opportunity .opportunity-holder .text .tables table thead {
          background-color: #E1E1E1; }
        .opportunity .opportunity-holder .text .tables table th {
          vertical-align: middle;
          text-align: center !important; }
        .opportunity .opportunity-holder .text .tables table td {
          padding: 0 25px;
          border-right: 2px solid #e2dede;
          vertical-align: middle; }
          .opportunity .opportunity-holder .text .tables table td:last-child {
            border-right: none; }

@media screen and (max-width: 991px) {
  .opportunity .opportunity-holder .number-holder {
    display: block; } }
@media screen and (max-width: 991px) {
  .opportunity .opportunity-holder .text {
    display: block; } }

/*# sourceMappingURL=opportunity.css.map */
