/* --------------------------------------------------------
Colors - DUALITY-portfolio and apps html5 template
author: http://themeforest.net/user/rayoflightt
website: http://rayoflightthemes.com
----------------------------------------------------------*/
/* -----------------------------------------------------------
CONTENTS:
html5 and responsive content
reset
menu + general classes
top headline
app
blackpart1 call to action 
services
blackpart2 portfolio
team
testimonials blackpart3
blog
blackpart4 hire us
contact
footer
additiional page

------------------------------------------------------------*/


/* HTML5 styles */
header, nav, article, section, aside, footer {display: block;} 
/* HTML5 styles-end */

img{max-width: 100%; width:auto}
img{ -ms-interpolation-mode: bicubic; }
img, embed, object, video {
max-width: 100%
}


/********* reset *********/

a:link, a:visited{ 
outline:none;
text-decoration:none;

}
ul, ol { 
line-height: 1.6; 
margin: 0 0 22px 0;  
padding:0;
list-style:none;
}

ul li, ol li{ 
margin: 0 0 11px 0; 
padding:0; 
list-style:none;
font-size:14px;
}

.liststyle1 ul li{ 
list-style:square;
font-size:14px;
}


.liststyle2 ol li{ 
list-style:circle;
}

h1, h2, h3, h4, h5, h6 {
color:#333333;
font-family:roboto, arial;
font-weight:normal;
}

h1, h2{
line-height:1.2;
}

h3, h4, h5, h6{
line-height:1.4;
}

h6 {
font-size:11px;
}
h5 {
font-size:14px;
}
h4 {
font-size:18px;
}
h3 {
font-size:22px;
}
h2 {
font-size:36px;
}
h1 {
font-size:44px;
}



p{
color:#555555;
font-size:14px;
font-family:"roboto" arial, san-serif;
font-weight:normal;
line-height:1.6;
margin:0 0 22px 0;
}
address {
font-size:21px;
color:#555555;
}


blockquote{
margin:0 0 22px 0;
padding:22px 20px;
}

blockquote p{
margin:0;
}


.centered {
float:none;
margin:0 auto;		
}

.texthighlight{
font-size:21px;
}

@media (min-width: 768px) {
  .row {
    margin-right: 0;
  margin-left: 0;
  }
}

}

/********* reset end *********/


/********* menu + general classes *********/




.paralaxcontent{
margin: 0 auto;
overflow: auto;	
}

html,
body {
height: 100%;
}

body{
height:100%;
color:#555555;
line-height:1.6;
background:#333333;
font-size:14px;
font-family:"roboto", Arial, sans-serif;
font-weight:normal;
overflow-x:hidden;
}



.container100percent {
width: 94%;
margin:0 auto;
}


.wrapper100percent{
float:left;
width:100%;
padding:0;
}

.wrapper50percent{
float:left;
width:50%;
}

.sectionwrapper{
margin-top:1px;
margin-bottom:100px;
width:100%;
float:left;
position:relative;
}


.section1 {
background:#fff;
padding-bottom:132px;
}



.mainheadlinewrapper {
margin-bottom:0px;
float:left;
width:100%;
text-align:center;
}


.mainheadline h2{
font-size:66px;
margin-bottom:60px;
padding-bottom:66px;
text-transform:uppercase;
font-weight:bold;

}


.mainheadlinewrapperblack {
margin-bottom:0px;
float:left;
width:100%;
text-align:center;
}


.mainheadlineblack h2{
margin-top:0;
line-height:1;
color:#fff;
font-size:66px;
margin-bottom:60px;
padding-bottom:66px;
text-transform:uppercase;
font-weight:bold;

}


.maintext p{
text-align:center;
}



.topicons {
position:absolute;
z-index:200;
top:100px;
right:30px;
text-align:center;
}

.topicons a:link, .topicons a:visited{
display:inline-block;
width:50px;
height:50px;

margin-right:10px;
margin-left:10px;
 -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
}

.topicons a:hover{
transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
 -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
}


/***menu***/


.navbar-toggle {
  position: relative;
  float: right;
  width: 44px;
  height: 34px;
  padding: 6px 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border: none;
  border-radius: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #fff;
}


.navbar {
min-height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
 border-radius: 0;
}


.menudesktopcolor {background-color:transparent;
}


.menudesktopcolor .nav > li a{
color:#333333;
}

.menudesktopcolor .nav > li a:hover,
.menudesktopcolor .nav > li a:focus {
color:#333333;
 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}

.menudesktopcolor1 {
 background-color:#f0f0f0;
 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}

.menudesktopcolor1 .nav > li > a:link, .menudesktopcolor1 .nav > li > a:visited {
color:#333333;background-color:transparent;
}




#nav ul{
margin-top:0px;
margin-bottom:0;
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li {
margin-bottom:0;
  position: relative;
  display: inline-block;
}

.nav > li > a:link, .nav > li > a:visited {
  position: relative;
  display: inlne-block;
  padding: 31px ;
color:#fff;
font-size:18px;
text-transform:uppercase;
}

.menudesktopcolor1 .nav > li:hover,
.menudesktopcolor1 .nav > li:focus {

 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}

.menudesktopcolor1 .navbar-nav > .active > a:link,
.menudesktopcolor1 .navbar-nav > .active > a:visited,
.menudesktopcolor1 .navbar-nav > .active > a:hover,
.menudesktopcolor1 .navbar-nav > .active > a:focus {
  
 display: inlne-block;
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
color:#333333;
}


.menudesktopcolor .nav > li:hover,
.menudesktopcolor .nav > li:focus {
 background-color: transparent;
 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}

.menudesktopcolor .nav > li a:hover,
.menudesktopcolor .nav > li a:focus {

 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}

.menudesktopcolor .navbar-nav > .active > a:link,
.menudesktopcolor .navbar-nav > .active > a:visited,
.menudesktopcolor .navbar-nav > .active > a:hover,
.menudesktopcolor .navbar-nav > .active > a:focus {
   background-color:transparent;
 display: inlne-block;
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;

}


nav a {margin-bottom:0;
	position: relative;
	display: inline-block;

	outline: none;
	
}

nav a:hover,
nav a:focus {
	outline: none;
}


/***for dropdown hide***/
.navbar-nav li ul {
left:-9999px;
position:absolute;
z-index:100;
}

.navbar-nav li:hover ul {
left:0;
}


.navbar-nav li:hover ul li ul {
left:-9999px;
}
.navbar-nav li ul li ul  {
postion:absolute;
left:-9999px;
}

.navbar-nav li ul li:hover ul  {
left:0px;
}

/***for dropdown hide end***/


/***second level***/
.navbar-nav > li > ul  {
padding:0;
margin:0;
width:100%;
}

.navbar-nav > li > ul > li {
padding:0px;
margin:0;
width:100%;
text-align:center;
}


.menudesktopcolor .navbar-nav > li > ul > li > a:link, .menudesktopcolor .navbar-nav > li > ul > li > a:visited {
  position: relative;
  display: block;
   padding:7px;
margin:0  ;
background:#f0f0f0;
color:#333333;
font-size:14px;
text-transform:uppercase;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.menudesktopcolor .navbar-nav > li > ul > li > a:hover{
background:#333333;
color:#fff;
}



.menudesktopcolor1 .navbar-nav > li > ul > li > a:link, .menudesktopcolor1 .navbar-nav > li > ul > li > a:visited {
  position: relative;
  display: block;
   padding:7px;
margin:0  ;
background:#f0f0f0;
color:#333333;
font-size:14px;
text-transform:uppercase;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.menudesktopcolor1 .navbar-nav > li > ul > li > a:hover{

}

.navbar-nav > li:hover ul{ 
	left:0;
}

/***second level end***/



/***menu end***/


/*********menu + general classes end**********/

/*********top headline**********/



.topwrapwrapper {
position:relative;
z-index:0;
min-height:900px;
width:100%;
float:left;
}


.topwrap {   
position:absolute;
z-index:100;
top:300px;
width:100%;
float:left;
}



.topbuttonwrapper{
width:100%;
float:left;
position:relative;
height:62px;
}


a#topbutton:link, aa#topbutton:visited{

width:102px;
height:62px;
opacity:0.7;
display:block;
margin:0 auto;
}

a#topbutton:hover{
opacity:1;
 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}



.sliderwrapper{
width:100%;
background: url(../images/sliderbg.html) center center no-repeat;
}

.sliderwrapperinner{
width:100%;
margin:0 auto;

}
.sequence-canvas{
margin:0 auto;
max-width:1024px;
}

#sequence {

margin-top:25px;
display:block;
 margin-right:auto;
margin-left:auto;
  position: relative;
  overflow: hidden;
  width: 100%;
 
float:none;

  background-position: 50% 100%;
  color: white;


  position: relative;
  height: 300px;
}
#sequence > .sequence-canvas {
  height: 100%;
  
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -50%;
}
#sequence > .sequence-canvas > li img {
  height: 96%;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  /* only cause the right and opacity properties to transition */
  -webkit-transition-property: right, opacity;
  -moz-transition-property: right, opacity;
  -ms-transition-property: right, opacity;
  -o-transition-property: right, opacity;
  transition-property: right, opacity;
}




.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;

  text-indent:-9999px;
  position: absolute;
  top: 35%;
  z-index: 1000;
  height: 51px;width:31px;
  
}



.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

.sequence-paused {
  opacity: 0.3;
}

.sequence-prev {opacity:0.7;
 left: 3%; 
 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}

.sequence-next {
opacity:0.7;
  right: 3%;
border:none;

 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}


.sequence-prev:hover {
opacity:1;

}

.sequence-next:hover {
opacity:1;
}

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}

#sequence-preloader {
  display:none;
}


.sequence-pagination {
display:none;
}


.sequence-pagination .paginationslider  {

display:block;
margin-left:5px;
margin-right:5px;
float:left;
cursor:pointer;	
	width: 23px;
	height: 24px;
 
 
}
.sequence-pagination .paginationslider:hover {


}
.sequence-pagination li.current img {
  opacity: 1;
}


.sequence-theme h2{

font-size:88px;
text-transform:uppercase;
line-height:1;
font-weight:bold;
}

.sequence-theme h3{

color:#fff;
font-size:35px;
text-transform:uppercase;
line-height:1;
}

.title {  top: 50%;
text-align:center;
  right: 100%;
  width: 100%;
  opacity: 0;
  bottom:1%;
  z-index: 50;
}

.animate-in .title {
  right: 3%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-out .title {
 right: 100%;
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.subtitle { width: 100%;
text-align:center;
  right: -80%;

  opacity: 0;
  top: 98%;
}

.animate-in .subtitle {
 right: 3%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-out .subtitle {
  right: -80%;
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}






@media only screen and (max-width: 1200px) {

.sequence-theme h2{
font-size:66px;
}

.sequence-theme h3{
font-size:22px;
}


.animate-in .title {
  right: 0%;
}


.animate-in .subtitle {
 right: 0%;
}


.topwrapwrapper {
min-height:600px;
}

.topwrap {   
top:200px;
}


#sequence {

  height: 200px;
}


}



@media only screen and (max-width: 1000px) {

.sequence-theme h2{
font-size:55px;
}

.sequence-theme h3{
font-size:18px;
}


}



@media only screen and (max-width: 767px) {

.sequence-theme h2{
font-size:44px;
}

.sequence-theme h3{
font-size:18px;
}



.topwrapwrapper {
min-height:500px;
}

.topwrap {   
top:100px;
}



}




@media only screen and (max-width: 500px) {

.sequence-theme h2{
font-size:35px;
}

.sequence-theme h3{
font-size:14px;
}

}



/***wrapperall for everything below top slider***/

.wrapperall {
position:relative;
width:100%;
float:left;
}


/*********top headline end**********/



/*********app**********/



.approwwrapper {
margin-top:66px;
}

.apptextleftinner {
margin-top:250px;

}

.apptextleftinner h4 {
font-size:36px;
margin-bottom:0;
line-height:1;
max-width:80%;
}

.apptextleftinner h3 {
text-transform:uppercase;
background:#333333;

font-weight:bold;
font-size:36px;
padding:15px 30px;
display:inline-block;
line-height:1;
max-width:80%;
}



.apptextright{
margin-top:44px;
}
.apptextright h3{
font-size:22px;
margin-top:0;

}

.apptextrightone{

padding-left:70px;
margin-bottom:22px;
width:100%;
float:left;
}

.apptextrighttwo{

padding-left:70px;
margin-bottom:22px;
width:100%;
float:left;
}


.apptextrightthree{

padding-left:70px;
margin-bottom:22px;
width:100%;
float:left;
}
.apptextrightfour{

padding-left:70px;
margin-bottom:22px;
width:100%;
float:left;
}


.appwrapper1 {
  margin: 0 auto;
  width: 300px;

  padding-top:87px;
padding-bottom:115px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: url("../images/iphonebig.png") no-repeat;
}


.appwrapper {
  width: 240px;
  height: 462px;
margin:0 auto;
  overflow: hidden;
}

.appwrapperinner{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.appwrapperinner img {
  position: absolute;
  width: 100%;
}




/*********app end**********/




/*********blackpart1 call to action*********/
.blackpart1{
width:100%;
text-align:center;
padding-top:132px;
padding-bottom:132px;
margin: 0 auto;
float:left;
min-height:300px;

}

.blackpart1 h3{
color:#fff;
font-size:66px;
text-transform:uppercase;

}

.blackpart1 h3 span{

}


.calltoactionwrapper{
width:100%;
position:relative;
margin-top:66px;
height:180px;
float:left;
}


a#calltoaction:link, a#calltoaction:visited{

height:185px;
width:198px;
padding-top:78px;
font-size:22px;
text-transform:uppercase;
color:#333333;
display:block;
margin:0 auto;
}

a#calltoaction:hover{
 -webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;
transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
}



/*********blackpart1 end*********/



/*********services**********/

.onecolumnservice{
margin-top:44px;
text-align:center;
}
.onecolumnservice img{
margin-bottom:10px;

 -webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;
}

.onecolumnservice h4{
font-size:18px;
text-transform:uppercase;
}

.onecolumnservice p{
margin-bottom:30px;
}

.onecolumnservice a:link, .onecolumnservice a:visited{
color:#333333;
font-size:14px;
text-transform:uppercase;
padding:10px;

 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}
.onecolumnservice a:hover{

}

.onecolumnservice:hover img{
transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
 -webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;
}

/*********services end**********/





/*********blackpart2 portfolio*********/
.blackpart2{
width:100%;
text-align:center;
padding-top:0px;
background:#333333 url(../images/bg.png) repeat;
float:left;
min-height:300px;
}


/***hover***/



.grid {
max-width:1170px;width:100%;
margin:22px auto 140px auto;

}


.grid li {
	display: inline-block;
	width:33%;
	margin:0;
	float:left;
	position: relative;

}

.grid figure {text-align: left;
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15%;
	background: #333333;
	color: #333333;
}

.grid figcaption h3 {font-size:18px;
	margin: 22px 0 0 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a:link, .grid figcaption a:visited {
	text-align: center;
	padding: 3px 5px ;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
	display: inline-block;
	background: #fff;
	color: #333333;
}

.grid figcaption a:hover{


}


/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.cs-style-3 figcaption h3 {
	position: absolute;
	bottom: 11px;
	left: 20px;
}


/***hover end***/



/***portfolio***/



/**** Isotope portfolio ****/



.isotope-item {
  z-index: 2;
}


.isotope-item img {
  z-index: 2;
}


.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 1.2s;
     -moz-transition-duration: 1.2s;
      -ms-transition-duration: 1.2s;
       -o-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/**** Example Options ****/


.element1{
 max-width:280px;
  margin:10px 0 10px 2%;
  float: left;
}
.element1 img {
  display: block;
  width: 100%;
}




#options ul {
min-height:88px;
background:#fff;width:100%;
margin-top:0px;
margin-left:0px;
list-style: none;
margin-bottom:0;
text-align:center;
}



#options ul li {
display:inline-block;
margin-bottom:0px;
}

#options li a:link, #options li a:visited {
display:inline-block;
text-transform:uppercase;
font-size:18px;
margin-right:0px;
color:#333333;
padding:32px 22px;
height:88px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#options li a:hover{

}


#options li a:focus{

}
				

/***portfolio end***/



/*********blackpart2 portfolio end*********/





/*********team**********/

.onecolumnteam{
margin-top:44px;
text-align:center;
}


.onecolumnteam img{
margin-bottom:0px;

 -webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;
}

.onecolumnteamtext{
width:100%;

float:left;
margin-bottom:22px;
}


.onecolumnteam h4{
font-size:22px;
text-transform:uppercase;
margin-bottom:0;
}

.onecolumnteam p{
margin-bottom:30px;
font-size:18px;
margin-bottom:11px;
}


.onecolumnteam:hover img{

}



.teamicons {
z-index:200;
text-align:center;
}

.teamicons a:link, .teamicons a:visited{
display:inline-block;
width:50px;
height:50px;

margin-right:10px;
margin-left:10px;
 -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
}

.teamicons a:hover{
transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
 -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
}



.teamskills{
width:100%;
float:left;
}

/***charts***/
.wrap p{
font-sIze:22px;
color:#333333;
margin-top:38px;
margin-bottom:0;
}
.wrap span{
font-sIze:46px;
}

.progress-radial {
  margin:0 auto;
  position: relative;
  width: 180px;
  height:180px;
  border-radius:500px;
  moz-border-radius:500px;
  -webkit-border-radius:500px;
 margin-top:0px;
}


.progress-radial .overlay {
  position: absolute;
  width: 155px;
  height: 155px;
 
 border-radius:500px;
-moz-border-radius:500px;
-webkit-border-radius:500px;
  margin-left: 12px;
  margin-top: 12px;
  text-align: center;
 
 
}

.wrap .progress-radial .overlay {
 background:#fff; 
}



/***charts end***/






/*********team end**********/




/*********blackpart3 testimonials*********/



.blackpart3{
width:100%;
text-align:center;
padding-top:132px;
padding-bottom:132px;
margin: 0 auto;
float:left;
min-height:300px;

}



.bxwrap {
height:auto;
width:100%;
position:relative;
z-index:0;
overflow: hidden;
}
.bxwrap .bx-wrapper .bx-pager{
display:none;
}


.textbx {
max-width:1170px;
margin:0 auto;
height:auto;
}



.bxwrap p.subtitle1 {
color:#fff;
font-size:21px;
text-align:center;
width:100%;
display:block;
margin-bottom:0;
margin-top:0;
}


.bxwrap p.subtitle2 {

font-size:36px;
text-align:center;
width:100%;
display:block;
font-style:italic;

}

.bxwrap img{
margin:66px auto 0 auto;
display:block;
border-radius:800px;
-moz-border-radius:800px;
-webkit-border-radius:800px;
}




/** THEME
===================================*/

.bx-wrapper .bx-viewport {

margin-bottom:15px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	/*background: url(images/bx_loader.gif) center center no-repeat #fff;*/
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}


/* DIRECTION CONTROLS (NEXT / PREV) */


.bx-wrapper .bx-next:link, .bx-wrapper .bx-next:visited {
right:3%;
top:41%;
opacity:.6;
 height: 51px;
width:31px;

transition: all .3s;
-moz-transition: all .3s; 
-webkit-transition:all .3s; 
-o-transition: all .3s; 
}

.bx-wrapper .bx-next:hover {
opacity:1;
}


.bx-wrapper .bx-prev:link, .bx-wrapper .bx-prev:visited {
top:41%;
left:3%;
opacity:.6;
 height:51px;
width:31px;
transition: all .3s;
-moz-transition: all .3s; 
-webkit-transition:all .3s; 
-o-transition: all .3s; 
}



.bx-wrapper .bx-prev:hover {
opacity:1;
}


.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 40%;
	margin-top:0;
	outline: 0;
	
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}






/* PAGER */

.bx-wrapper .bx-pager {
height:30px;
padding-top:10px;
padding-bottom:10px;
text-align:center;	
overflow: hidden;	
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
text-indent: -9999px;
width: 30px;
	height: 30px;

	
background-size:100% 100%;
-webkit-background-size:100% 100%;
-moz-background-size:100% 100%;
	display: block;
	
	margin:0  10px;
	outline: 0;

transition: all .2s;
-moz-transition: all .2s; 
-webkit-transition:all .2s; 
-o-transition: all .2s; 
	
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
transform:rotate(360deg);
-ms-transform:rotate(360deg); 
-moz-transform:rotate(360deg); 
-webkit-transform:rotate(360deg); 
-o-transform:rotate(360deg); 
	
}


.bx-wrapper .bx-pager.bx-default-pager a.active {
cursor:default;
transform:rotate(0deg);
-ms-transform:rotate(0deg); 
-moz-transform:rotate(0deg); 
-webkit-transform:rotate(0deg); 
-o-transform:rotate(0deg); 
		
}
.bx-wrapper .bx-pager.bx-default-pager a.active:hover {
transform:rotate(0deg);
-ms-transform:rotate(0deg); 
-moz-transform:rotate(0deg); 
-webkit-transform:rotate(0deg); 
-o-transform:rotate(0deg); 
		
}



/*********blackpart3 end*********/


/*********team**********/

.onecolumnblog{
margin-top:44px;
text-align:center;
}


.onecolumnblog img{
margin-bottom:0px;

 -webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;
}

.onecolumnblogtext{
width:100%;

float:left;
margin-bottom:11px;
}


.onecolumnblog h4{
font-size:22px;
text-transform:uppercase;
margin-bottom:0;
}

.onecolumnblog h6{
margin-bottom:30px;
font-size:18px;
margin-bottom:11px;
}


.onecolumnblog a:link, .onecolumnblog a:visited{
color:#333333;
font-size:14px;
text-transform:uppercase;
padding:10px;
 -webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out;
}
.onecolumnblog a:hover{
}


/*********blog end**********/



/*********blackpart4 hire us**********/

.blackpart4{
width:100%;
text-align:center;
padding-top:66px;
padding-bottom:132px;
margin: 0 auto;
float:left;
min-height:480px;
max-height:480;
height:480px;
position:relative;

}
.blackpart4inner{
background:#fff;
width:100%;
text-align:center;
height:420px;
margin: 0 auto;
float:left;
min-height:300px;
position:relative;
z-index:-10;
}


.hireus{
width:100%;
position:relative;
margin-top:66px;
height:180px;
}


a#hireus:link, a#hireus:visited{

height:185px;
width:198px;
position:absolute;
right:0;
top:50px;
padding-top:78px;
font-size:22px;
text-transform:uppercase;
color:#333333;
display:block;
font-weight:bold;
}

a#hireus:hover{
 -webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;
transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
}


.hireusleftimg {
position:absolute;
top:0;
left:0;
}


.hireusimg {
margin-top:100px;
}



.contactarrow{
margin-top:350px;
}

/*********blackpart4 hire us end**********/



/*********contact**********/



/*for contact form*/

#main {
margin-top:0px;
margin-bottom:0px;
}

#main h4{
color:#fff;
text-align:center;
font-size:21px;
margin-bottom:42px;
}


#main input{
font-size:14px;
color:#333333;
border:#333333 1px solid;
box-shadow:none;
outline:none;
border-radius:0;
padding:0 10px;
margin-bottom:0px;
width:100%;
}

#main .contact1 input {
color:#333333;
background:#fff;
box-shadow:none;
border:#333333 1px solid;
outline:none;
height:57px;
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
}
#main .contact1 input:focus {
box-shadow:none;
outline:none;
}



#main .contact2 input {
color:#333333;
background:#fff;
box-shadow:none;
border:#333333 1px solid;
box-shadow:none;
outline:none;
height:57px;
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
}




#main .contact2 input:focus {
box-shadow:none;
outline:none;
}



#main .textarea{
border:#333333 1px solid;
font-size:14px;
color:#333333;
box-shadow:none;
outline:none;
width:100%;
padding:10px;
height: 200px;
float:left;
display:inline;
border-radius:0;
background:#fff;
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
}



#main .textarea:focus{
box-shadow:none;
outline:none;
}



#main .buttoncontact {
text-transform:uppercase;
background:transparent;
color:#333333;
font-size:22px;
font-weight:bold;
margin: 21px auto 0 auto ;
padding:15px 40px;
border:#333333 1px solid;
box-shadow:none;
outline:none;
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
}
#main .buttoncontact:hover {
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
color:#333333;
border:none;
box-shadow:none;
outline:none;

}


/*for contact form end*/

.mapwrapper{
width:100%;
text-align:center;
margin: 0 auto;
float:left;
}

a.mapbutton:link, a.mapbutton:visited{
width:100%;
background:#f0f0f0;
color:#333333;
font-size:18px;
text-transform:uppercase;
display:block;
padding:22px 0;
transition: all .3s;
-moz-transition: all .3s; 
-webkit-transition:all .3s; 
-o-transition: all .3s; 
}

a.mapbutton:hover{
color:#333333;
}

.js #map{
display:none;
}


#map iframe{
width:100%;
height:500px;
border:none;
}

#map a:link, #map a:visited{
color:#fff;
}
#map a:hover{

}



/*********contact end**********/




/*********footer**********/

.blackpart5{
width:100%;
padding-top:66px;
padding-bottom:66px;

float:left;
position:relative;
}

.blackpart5 h5{
font-size:22px;
color:#fff;
}
.blackpart5 p{
font-size:14px;
color:#fff;
}


.bottomicons {
margin-top:80px;
text-align:center;
}

.bottomicons a:link, .bottomicons a:visited{
display:inline-block;
width:50px;
height:50px;
margin-right:10px;
margin-left:10px;
 -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
}

.bottomicons a:hover{
transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
 -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
}



.bottom{
width:100%;
float:left;
background:#fff;
}

p.copyright{
margin-top:55px;
margin-left:22px;
}

.copyrightwrapper{
width:50%;
float:left;
}

.copyright a:link, .copyright a:visited{
font-weight:bold;
color:#333333;
}
.copyright a:hover{
background:#333333;
color:#fff;
}


.scrollbutton{
float:right;
margin-top:30px;
width:50%;
}

.scrollbutton a:link, .scrollbutton a:visited{
background: url(../images/scrollbutton.html) top center no-repeat;
width:70px;
height:41px;
float:right;
margin-right:22px;
display:inline-block;
}

.scrollbutton a:hover{
background: url(../images/scrollbutton.html) bottom center no-repeat;
}



/*********footer end**********/


/*********additional page*********/



.additionalpage1wrapper {
background:#fff;
}

.additionalpage2wrapper{
background:#fff;
padding-top:44px;
}

.additionalpagehome{
display:none;
margin-top:21px;
text-transform:uppercase;
padding-bottom:22px;
}

.additionalpagehome a{
color:#333333;
text-transform:uppercase;
font-size:22px;
}

.additionalpagehome1{
margin-top:21px;
text-transform:uppercase;
padding-bottom:22px;
}

.additionalpagehome1 a{
color:#333333;
text-transform:uppercase;
font-size:22px;
}

.additionalpage {
margin-bottom:84px;
}

.additionalpage h3{
font-size:27px;
font-weight:bold;
line-height:1;
font-style:italic;
}


.additionalpageright h3{
margin-top:0px;
font-size:35px;
}


.additionallink{
margin-bottom:21px;
}

.additionalpage1wrapper .additionallink a:link, .additionalpage1wrapper .additionallink a:visited{
font-size:21px;
padding:1px 10px 3px 10px;
display:inline-block;
border-top:#333333 2px solid;
border-bottom:#333333 2px solid;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.additionalpage1wrapper .additionallink a:hover{
background:#333333;
color:#fff;
}

.additionalpage2wrapper .additionallink a:link, .additionalpage2wrapper .additionallink a:visited{
font-size:21px;
padding:1px 10px 3px 10px;
display:inline-block;
color:#333333;
border-top:#333333 2px solid;
border-bottom:#333333 2px solid;

-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.additionalpage2wrapper .additionallink a:hover{
color:#fff;
background:#333333;
}


.additionalpageright p{
font-size:18px;
}
.additionalpageright .additionallist p{
font-size:13px;
font-style:italic;
}

.additionalpageright .additionalicons i{
font-size:30px;
margin-right:15px;
}


.additionalpage h4{
font-size:21px;
font-style:italic;
}


.additionalvideo  {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 0px;
height: 0;
overflow: hidden;
margin-top:63px;
margin-bottom:21px;
}
.additionalvideo  iframe,  
.additionalvideo  object,  
.additionalvideo  embed {
position: absolute;
bottom:0;
left: 0;
width: 100%;
height: 95%;
border:0;
}





/*********additional page end*********/


a[style="color:orange;height:50px;padding-top:15px;background:black;width:100%;float:left;text-align:center;"]
{
  display: none;
}















