.divider2
{
    background-image: url("/resources/assets/rutsen/img/divider.png");
    height: 2px;
    width: 100%;
    margin: 60px 0;
}
.note
{
    font-weight: 600;
    font-size: 12px;
    display: block;
    padding: 20px 0;
    color: #307AB5;
}
.checkout
{
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    overflow: auto;
    padding-top: 20px;
    font-family: "open sans", sans-serif;
    .titled
    {
        margin: 20px 0;
        .fa
        {
            background-color: #FFCC00;
            color: white;
            vertical-align: middle;
            font-size: 30px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            -webkit-box-sizing: content-box;
               -moz-box-sizing: content-box;
                    box-sizing: content-box;
            padding: 15px;
            border-radius: 100%;
        }
        span
        {
            vertical-align: middle;
            font-size: 30px;
            font-weight: bold;
            color: #5D5D5D;
            display: inline-block;
            padding: 0 10px;
        }
    }
    .col-md-8
    {
        .checkout-form
        {
            .fieldset
            {
                margin-bottom: 20px;
                .error-message
                {
                    color: red;
                    font-size: 11px;
                    margin-top: 2px;
                }
                .birthday
                {
                    display: table;
                    .bdivider
                    {
                        display: table-cell;
                        vertical-align: top;
                        &.month
                        {
                            width: 160px;
                            padding-right: 10px;
                        }
                        &.day
                        {
                        }
                        &.year
                        {
                            width: 160px;
                            padding-left: 10px;

                            select
                            {
                            }
                        }
                    }

                }
                .title
                {
                    font-size: 20px;
                    padding: 10px;
                    &.col-md-12
                    {

                    }
                }


                .field
                {
                    .form-control
                    {

                    }

                    .form-control
                    {

                    }

                    .form-control
                    {

                    }
                }
            }
        }
    }

    .checkout-summary
    {
        .title
        {
            font-size: 20px;
            padding: 10px;
        }

        .order-summary
        {
            border: 1px solid #ddd;
            padding: 10px;
            .number-in-cart
            {

            }

            table
            {
                width: 100%;
                color: #777;

                thead
                {
                    font-weight: bold;

                    tr
                    {
                        td
                        {
                            padding: 5px 0;
                            border-bottom: 1px dashed #ddd;
                        }
                    }
                }

                tbody
                {
                    tr
                    {

                        td
                        {
                            padding: 5px 0;
                            border-bottom: 1px dashed #ddd;
                        }
                    }
                }
            }

            .total
            {
                overflow: auto;
                padding-top: 5px;
                .total-label
                {
                    float: right;
                }
                .total-price
                {
                    width: 100px;
                    margin-left: 15px;
                    float: right;

                    &.supertotal
                    {
                        color: #2B628B;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


/* CHECKOUT PAYMENT */
.order-sum
{
    width: 1000px;
    margin: auto;
    font-size: 14px;
    .submit-order-container
    {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .title
    {
        font-size: 20px;
        padding: 5px 15px;
        background-color: #2B628B;
        color: #fff;
        margin-top: 20px;
        -webkit-border-top-left-radius: 3px;
           -moz-border-radius-topleft: 3px;
                border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
           -moz-border-radius-topright: 3px;
                border-top-right-radius: 3px;
    }
    table
    {
        width: 100%;
        color: #777;

        thead
        {
            font-weight: bold;

            tr
            {
                td
                {
                    padding: 5px 0;
                    border-bottom: 1px solid #ddd;
                }
            }
        }

        tbody
        {
            tr
            {

                td
                {
                    padding: 5px 0;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
    .total
    {
        overflow: auto;
        padding-top: 5px;
        .total-label
        {
            float: right;
        }
        .total-price
        {
            width: 100px;
            margin-left: 15px;
            float: right;

            &.supertotal
            {
                color: #2B628B;
                font-weight: bold;
            }
        }
    }
}

.checkout-payment
{
    margin-top: 20px;
    .payment-option
    {
        .labels
        {
        }
        .option
        {
            vertical-align: top;
            display: inline-block;
            .payment-img
            {
                height: 100px;
                position: relative;
                img
                {
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                      -o-transform: translateY(-50%);
                         transform: translateY(-50%);
                    top: 50%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
            .payment-caption
            {
                font-weight: normal;
                color: #434343;
                font-weight: 400;
            }
            label
            {
                width: 250px;
                padding: 10px;
                color: #2b628b;
                margin: 10px;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                        border-radius: 3px;
                border: 2px #dedede solid;
                font-weight: 600;
                font-size: 14px;
                input
                {
                }
            }
        }
    }
}

.receipt
{
    max-width: 1000px;
    margin: auto;
    iframe
    {
        width: 100%;
        border: 1px solid #ddd;
        margin: 10px;
        height: 1000px;
    }
}

//PAYMENT
.order-sum
{
    .divider
    {
        background-image: url("/resources/assets/rutsen/img/Divider-2.png");
        height: 13px;
        width: 40%;
        margin: 0 auto 40px;
    }
    text-align: center;
    .order-header
    {
        color: #3a3a3a;
        font-size: 30px;
        font-weight: 700;
        padding-top: 40px;
        span
        {
            color: #2b628b;
            font-weight: 800;
        }
    }
    .total
    {
        color: #434343;
        font-size: 14px;
    }
    .header-button
    {
        padding-bottom: 10px;
    }
    table
    {
        width: 100%;
        margin-bottom: 20px;
        thead
        {
            background-color: #2b628b;
            color: white;
            font-size: 14px;
            font-weight: 400;
            tr
            {
                td
                {
                    width: 2%;
                    border: 1px solid #21557c;
                    padding: 8px 0;
                }
                td
                {
                    &.biggest
                    {
                        width: 30%;
                    }
                }
            }
        }
        tbody
        {
            tr
            {
                &:hover
                {
                    background-color: #f2f4f6;
                }
                td
                {
                    width: 2%;
                    border: 1px solid #dedede;
                    color: #434343;
                    font-size: 14px;
                    padding: 10px 10px;
                    .image-holder
                    {
                        height: 50px;
                        width: 80px;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 25px;
                        text-align: left;
                        img
                        {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.coupon-popup
{
    .coupon-container
    {
        padding: 30px;
    } 
    .remodal-close
    {
        display: none;
    }
}


