// WEWEW

$font-family: "Open Sans", sans-serif !important;
$background-color: #efefef;
$blue: #474f71;
$orange: #f47265;
$sblue: #40c0c0;
$gray: #aaafb6;
$gray2: #9ea7b3;
$font-color: #77818e;

//TREE
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

//HOME

.siyet
{
	padding: 0 !important;
}
a
{
	outline: none !important;
	&:hover
	{
		outline: none !important;
		text-decoration: none !important;
	}
	&:focus
	{
		outline: none !important;
		text-decoration: none !important;
	}
}
body
{
	font-family: $font-family;
}
.para
{
	overflow: auto;
	clear: both;
}
.bg
{
	background-color: $background-color;
}
.wrapper
{
	text-align: center;
	//HOME
	.header-nav
	{
		.header
		{
			.ubod
			{
				text-align: left;
				img
				{
					padding: 9px 0;
				}
			}
			.grabe
			{
				text-align: right;
			}
			.header-text
			{
				display: inline-block;
				color: #949494;
				padding: 10px 20px;
				margin: 15px 0;
				border-right: 1px solid #c2c2c2;
			}
			.header-text:last-child
			{
				border-right: 0px solid #c2c2c2;
			}
		}
		.navbar
		{
			clear: both;
			position: relative;
			.nav
			{
				li
				{
					font-size: 14.58px;
					&:hover
					{
						background-color: #40c0c0;
					}
					a
					{
					
					}
				}
			}
			.shadow
			{
				width: 100%;
				position: absolute;
				background: transparent url("/resources/assets/ausart/assets/img/header_shadow.png") no-repeat scroll center bottom;
				height: 89px;
				top: 34px;
			}
		}
	}
	.content
	{
		margin-top: 60px;
		.left
		{
			padding: 0 !important;
			.profile
			{
				background-color: #fff;
				.profile-pic
				{
					display: table-cell;
					vertical-align: middle;
					position: relative;
					padding: 30px;
					img
					{
						-webkit-border-radius: 100%;
						   -moz-border-radius: 100%;
						        border-radius: 100%;
						border: 1px solid #bdc2ca;
						width: 120px;
						height: 120px;
					}
					.borders
					{
						border: 7px solid #BDC2CA;
						position: absolute;
						width: 145px;
						height: 145px;
						top: 17px;
						left: 17px;
						-webkit-border-radius: 100%;
						   -moz-border-radius: 100%;
						        border-radius: 100%;
					}
				}
				.profile-info
				{
					display: table-cell;
					vertical-align: middle;
					padding: 20px;
					.name
					{
						color: #9ba0a7;
						font-weight: 800;
						font-size: 29.17px;
						border-bottom: 1px solid #e3e3e4;
						padding-bottom: 5px;
						margin-bottom: 5px;
					}
					.email
					{
						color: #36c1c8;
						font-size: 14.58px;
					}
				}
			}
			.info
			{
				.referral
				{
					background-color: $orange;
					-webkit-transition: all ease 0.8s;
					   -moz-transition: all ease 0.8s;
					     -o-transition: all ease 0.8s;
					        transition: all ease 0.8s;
					&:hover
					{
						background-color: #f26153;
					}
				}
				.inbox
				{
					background-color: $blue;
					-webkit-transition: all ease 0.8s;
					   -moz-transition: all ease 0.8s;
					     -o-transition: all ease 0.8s;
					        transition: all ease 0.8s;
					&:hover
					{
						background-color: #3f4664;
					}
				}
				.leads
				{
					background-color: $sblue;
					-webkit-transition: all ease 0.8s;
					   -moz-transition: all ease 0.8s;
					     -o-transition: all ease 0.8s;
					        transition: all ease 0.8s;
					&:hover
					{
						background-color: #2bacac;
					}
				}
				.box
				{
					padding-bottom: 10px;
					.img
					{
						padding: 15px 0;
						img
						{
							height: 30px;
						}
					}
					.text
					{
						font-size: 12.5px;
						color: white;
						span
						{
							font-size: 14.58px;
							display: inline-block;
							padding: 0 10px;
						}
					}
				}
			}
			.detail
			{
				.blue
				{
					background-color: $blue;
				}
				.sblue
				{
					background-color: $sblue;
				}
				.header
				{
					font-size: 20.83px;
					margin: 30px 0;
					color: white;
					background-color: $gray;
					font-weight: 300;
					img
					{
						padding: 15px 30px 15px 0;
					}
				}
				.holder
				{
					background-color: #fff;
					padding: 15px 25px;
					margin-top: 10px;
					.title
					{
						font-size: 16.67px;
						padding: 10px 0;
						color: white;
						margin: 20px auto 40px;
						max-width: 500px;
					}
					.input
					{
						margin-bottom: 10px;
					}
					.form-group
					{
						margin-left: 0 !important;
						margin-right: 0 !important;
					}
					label
					{
						color: #a8a7a7;
						font-style: italic;
					}
				}	
			}
		}
		.right
		{
			
			.holder
			{
				background-color: #fff;
				padding: 0 20px;
				.header
				{
					font-size: 14.58px;
					color: $orange;
					padding: 20px 0 40px;
					img
					{
						margin: 0 5px;
					}
				}
				.holders
				{
					border-bottom: 1px solid #dedede;
					padding-bottom: 5px;
					margin-bottom: 10px;
					.text
					{
						text-align: left;
						color: #a8a8a8;
						padding: 5px 15px;
					}
					.date
					{
						text-align: right;
						font-size: 12.5px;
						color: #cdcdcd;
						padding: 5px 15px;
					}
				}	
				.holders:last-child
				{
					border-bottom: 0;
				}
			}
		}
		//CODE-VAULT
		.code-vault
		{
			.table
			{
				background-color: white;
				padding-bottom: 15px;
				.table-head
				{
					background-color: $blue;
					color: white;
					padding: 20px;
					font-size: 14.58px;
					.aw
					{
						text-align: left;
					}
					.ew
					{
						text-align: right;
						padding: 3px 0;
						a
						{
							color: white;
						}
						.button
						{
							display: inline-block;
							background-color: $orange;
							border-bottom: 2px solid #eb685b;
							border-right: 1px solid #eb685b;
							border-left: 1px solid #eb685b;
							padding: 10px 30px;
							font-size: 12.5px;
							-webkit-border-radius: 5px;
							   -moz-border-radius: 5px;
							        border-radius: 5px;
						}
					}
					img
					{
						margin: 0 10px;
					}
				}
				table
				{
					width: 98%;
					margin: auto;
					thead
					{
						background-color: $gray2;
						td
						{
							padding: 10px 20px;
							color: white;
							font-size: 14.58px;
						}
					}
					tbody
					{
						color: $font-color;
						font-size: 12.5px;
						border-left: 1px solid #eaeaea;
						border-right: 1px solid #eaeaea;
						border-bottom: 1px solid #eaeaea;
						tr:nth-child(even) {background: #f7f7f7}
						tr:nth-child(odd) {background: #eeeeee}
						td
						{
							padding: 10px 20px;
							border-right: 1px solid #e8e8e8;
							border-bottom: 1px solid #e8e8e8;
						}
						td:last-child
						{
							border-right: 0;
							border-bottom: 0;
						}
						a
						{
							color: $font-color;
						}
						.check
						{
							width: 23px;
							height: 23px;
							position: relative;
							margin: auto;
							input[type="checkbox"]
							{
								width: 23px;
								height: 23px;
								position: absolute;
								top: 0;
								right: 0;
								margin: 0 !important;
								opacity: 0;
								z-index: 20;
							}
							.bgs
							{
							 	position: absolute;
							 	width: 100%;
							 	height: 100%;
							 	top: 0;
							 	left: 0;
							 	right: 0;
							 	bottom: 0;
							 	background-image: url("/resources/assets/frontend/img/no-check.png");
							 	z-index: 10;
							}
							input[type="checkbox"]:checked + .bgs
							{
								background-image: url("/resources/assets/frontend/img/check.png");
							}
						}
					}
				}
			}
		}
		//ENCASHMENT
		.encashment
		{
			overflow: hidden;
			.header
			{
				background-color: $blue;
				color: #fff;
				font-size: 14.58px;
				padding: 15px 35px;
				border-bottom: 10px solid #878eab;
				text-align: left;
			}
			.body
			{
				min-height: 400px;
				margin-bottom: 10px;
				background-image: url("/resources/assets/frontend/img/texture.png");
				background-position: center;
				-moz-background-size: cover;
				  -o-background-size: cover;
				     background-size: cover;		
				.header-button
				{
					text-align: right;
					a
					{
						color: white;
						button
						{
							background-color: $gray2;
							padding: 7px 30px;
							-webkit-border-radius: 5px;
							   -moz-border-radius: 5px;
							        border-radius: 5px;
							border: 0;
							border-bottom: 2px solid #919aa6;
							border-right: 1px solid #919aa6;
							border-left: 1px solid #919aa6;
							margin: 10px 0;
						}
					}
				}
				.title
				{
					color: $gray2;
					font-size: 14.58px;
				}
				.ui-sliders
				{
					width: 460px;
					margin: 35px auto;
					input[type="text"]
					{	
						width: 100%;	
						font-size: 14.58px;
						color: #9ea7b3;
						text-align: center;
						padding: 5px 0;	
						border: 1px solid #eeeeee;
					}
					select
					{
						margin-top: 20px;
						color: #9ea7b3;
						font-size: 14.58px;
						width: 100%;
						padding: 5px 0;
						text-align: center;
						border: 1px solid #eeeeee;
					}
					.slider-info
					{
						margin: 25px 0;
						font-size: 12.5px;
						color: #bec4cd;
						height: 20px;
						vertical-align: middle;
					}
					a
					{
						color: white;
						button
						{
							background-color: $orange;
							border: 0;
							margin: 30px 0;
							padding: 10px 40px;
							-webkit-border-radius: 5px;
							   -moz-border-radius: 5px;
							        border-radius: 5px;
							border-bottom: 2px solid #eb685b;
							border-left: 1px solid #eb685b;
							border-right: 1px solid #eb685b;
						}
					}
				}
			}
		}
		.slot
		{
			background-image: url("/resources/assets/frontend/img/texture.png");
			background-position: center;
			-moz-background-size: cover;
			  -o-background-size: cover;
			     background-size: cover;	
			.header
			{

			}
			.body
			{
				padding: 50px;
				.holder
				{
					margin: 30px 0;
					.labels
					{
						color: #bec4cd;
						font-size: 12.5px;
						padding: 15px 0;
					}
					.values
					{
						color: #9ea7b3;
						font-size: 12.5px;
						padding: 15px 0;
					}
					a
					{
						color: white;
						button
						{
							background-color: $orange;
							border: 0;
							margin: 10px 0;
							width: 100%;
							padding: 10px 40px;
							-webkit-border-radius: 5px;
							   -moz-border-radius: 5px;
							        border-radius: 5px;
							border-bottom: 2px solid #eb685b;
							border-left: 1px solid #eb685b;
							border-right: 1px solid #eb685b;
							font-size: 12.5px;
						}
					}
				}
			}
		}
		.genealogy
		{
			.header
			{
				select
				{
					color: $gray2;
					margin: 0 10px;
					width: 250px;
					text-align: center;
					display: inline;
					border-radius: 0;
				}
				span
				{
					padding: 5px 0;
				}
			}
		}
		.voucher
		{

		}
	}
}

//REMODALSSS
.create-slot
{
	border-top: 5px #f47265 solid;
	background-image: url("/resources/assets/frontend/img/texture.png") !important;
	background-position: center !important;
	-moz-background-size: cover !important;
	  -o-background-size: cover !important;
	     background-size: cover !important;
	.remodal-close
	{
		display: none;
	}
	.header
	{
		color: #f47265;
		font-size: 14.58px;
		img
		{
			margin-right: 15px;
		}
	}
	.form-group
	{
		font-size: 12.5px;
		label
		{
			color: #bec4cd !important;
			margin-top: 6px;
			font-family: "Arial", sans-serif !important;
			font-style: italic;
		}
		input[type="text"],
		input[type="password"],
		select,
		input[type="email"]
		{
			-webkit-border-radius: 0px !important;
			   -moz-border-radius: 0px !important;
			        border-radius: 0px !important;
			font-size: 14.58px;
			color: #9ea7b3;
		}
	}
	button
	{
		border: 0;
		background-color: #eeeeee;
		color: #bbc4d0;
		padding: 10px 35px;
		font-style: italic;
		font-family: "Arial", sans-serif !important;
		margin: 10px 0;
	}
	.orange-btn
	{
		background-color: $orange;
		color: white;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;
	}
	table
	{
		width: 100%;
		margin-bottom: 50px;
		thead
		{
			background-color: $gray2;
			color: white;
			tr
			{
				td
				{
					padding: 8px 20px;
					font-size: 12.5px;
				}
			}
		}
		tbody
		{
			color: $font-color;
			tr:nth-child(even) {background: #f7f7f7}
			tr:nth-child(odd) {background: #eeeeee}
			tr
			{
				td
				{
					padding: 10px 20px;
					font-size: 12.5px;
				}
			}
		}
	}
	.wew
	{
		color: $font-color;
	}
	.epal
	{
		margin-top: 30px;
		color: $font-color;
		font-size: 14.58px;
		.title
		{
			text-align: left;
			font-weight: bold;
		}
		.sub
		{
			font-size: 12.5px;
			.tudaleft
			{
				text-align: left;
			}
			.tudaright
			{
				text-align: right;
			}
		}
	}
	.tae
	{
		margin-top: 15px;
	}
	.potek
	{
		text-align: right;
		color: $orange;
		a
		{
			color: $orange;
		}
		img
		{
			margin-right: 10px;
		}
	}
}

