$font-family: "Open Sans", sans-serif !important;
$background-color: #efefef;
$blue: #474f71;
$orange: #f47265;
$sblue: #40c0c0;
$gray:#2C324F;
$gray2: #9ea7b3;
$font-color: #77818e;

.tinde
{
	color: #9ea7b3 !important;
}
.col-md-3
{
	padding-left: 5px !important;
	padding-right: 5px !important;
	@media screen and (max-width: 991px)
	{
		padding: 0 !important;
		margin-bottom: 30px;
	}
}
.info
{
	padding: 0 !important;
	margin-bottom: 20px;
	.slot
	{
		background-color: #fa965a; 
		background: transparent -webkit-gradient(linear, left top, right top, color-stop(50%, #fa965a), color-stop(50%, #ef8a4d)) repeat; 
		background: transparent -webkit-linear-gradient(left, #fa965a 50%, #ef8a4d 50%) repeat; 
		background: transparent -moz-linear-gradient(left, #fa965a 50%, #ef8a4d 50%) repeat; 
		background: transparent -o-linear-gradient(left, #fa965a 50%, #ef8a4d 50%) repeat; 
		background: transparent linear-gradient(to right, #fa965a 50%, #ef8a4d 50%) repeat; 
		-webkit-transition: all ease 0.8s;
		   -moz-transition: all ease 0.8s;
		     -o-transition: all ease 0.8s;
		        transition: all ease 0.8s;
		.valuez
		{
			color: #ef8a4d;
		}
	}
	.wallet
	{
		background-color: #fac458; 
		background: transparent -webkit-gradient(linear, left top, right top, color-stop(50%, #fac458), color-stop(50%, #eeb84c)) repeat; 
		background: transparent -webkit-linear-gradient(left, #fac458 50%, #eeb84c 50%) repeat; 
		background: transparent -moz-linear-gradient(left, #fac458 50%, #eeb84c 50%) repeat; 
		background: transparent -o-linear-gradient(left, #fac458 50%, #eeb84c 50%) repeat; 
		background: transparent linear-gradient(to right, #fac458 50%, #eeb84c 50%) repeat; 
		-webkit-transition: all ease 0.8s;
		   -moz-transition: all ease 0.8s;
		     -o-transition: all ease 0.8s;
		        transition: all ease 0.8s;
		.valuez
		{
			color: #eeb84c;
		}
	}
	.income
	{
		background-color: #41a5e0; 
		background: transparent -webkit-gradient(linear, left top, right top, color-stop(50%, #41a5e0), color-stop(50%, #3595cd)) repeat; 
		background: transparent -webkit-linear-gradient(left, #41a5e0 50%, #3595cd 50%) repeat; 
		background: transparent -moz-linear-gradient(left, #41a5e0 50%, #3595cd 50%) repeat; 
		background: transparent -o-linear-gradient(left, #41a5e0 50%, #3595cd 50%) repeat; 
		background: transparent linear-gradient(to right, #41a5e0 50%, #3595cd 50%) repeat; 
		-webkit-transition: all ease 0.8s;
		   -moz-transition: all ease 0.8s;
		     -o-transition: all ease 0.8s;
		        transition: all ease 0.8s;
		.valuez
		{
			color: #3595cd;
		}
	}
	.money
	{
		background-color: #25b578; 
		background: transparent -webkit-gradient(linear, left top, right top, color-stop(50%, #25b578), color-stop(50%, #1c9f68)) repeat; 
		background: transparent -webkit-linear-gradient(left, #25b578 50%, #1c9f68 50%) repeat; 
		background: transparent -moz-linear-gradient(left, #25b578 50%, #1c9f68 50%) repeat; 
		background: transparent -o-linear-gradient(left, #25b578 50%, #1c9f68 50%) repeat; 
		background: transparent linear-gradient(to right, #25b578 50%, #1c9f68 50%) repeat; 
		-webkit-transition: all ease 0.8s;
		   -moz-transition: all ease 0.8s;
		     -o-transition: all ease 0.8s;
		        transition: all ease 0.8s;
		.valuez
		{
			color: #1c9f68;
		}
	}
	.box
	{
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		.img
		{
			padding: 10px;
			img
			{
				max-width: 97px;
			}
		}
		.text
		{
			font-size: 12.5px;
			color: white;
			height: 117px;
			position: relative;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			.middle
			{
				left: 0;
				right: 0;
				margin: auto;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				  -o-transform: translateY(-50%);
				     transform: translateY(-50%);
				font-size: 20.76px;
				font-weight: bold;
				color: #fff;
				text-align: left;
				width: 90px;
				.total
				{
					color: #feee96;
					margin-bottom: -10px;
				}
			}
		}
		.valuez
		{
			background-color: #fff4b8;
			font-size: 18px;
			font-weight: 700;
			margin: 5px;
			padding: 10px 0;
		}
	}
}
.left
{
	padding: 0 !important;
	padding-right: 5px !important;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	.profile
	{
		background-color: #41a5e0;
		display: table;
		table-layout: fixed;
		width: 100%;
		border: 1px solid #a0cdea;
		border-bottom: 0;
		-webkit-border-top-right-radius: 2px;
		   -moz-border-radius-topright: 2px;
		        border-top-right-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		   -moz-border-radius-topleft: 2px;
		        border-top-left-radius: 2px;
		.profile-pic
		{
			display: table-cell;
			vertical-align: middle;
			position: relative;
			padding: 15px 0;
			width: 260px;
			@media screen and (max-width: 600px)
			{
				display: block;
				text-align: center;
				margin: auto;
			}
			img
			{
				-webkit-border-radius: 100%;
				   -moz-border-radius: 100%;
				        border-radius: 100%;
				border: 5px solid #fff;
				width: 230px;
				height: 230px;
			}
		}
		.profile-info
		{
			display: table-cell;
			vertical-align: middle;
			padding: 20px 10px;
			@media screen and (max-width: 1200px)
			{
				display: block;
				width: 100%;
			}
			.name
			{
				color: #ffea76;
				font-weight: 700;
				font-size: 24px;
				text-transform: uppercase;
			}
			.email
			{
				color: #fff;
				font-size: 14px;
				font-weight: 400;
				font-family: "Tw Cen MT";
			}
			.p
			{
				display: table-row;
				width: 100%;
				.p-label
				{
					display: table-cell;
					vertical-align: middle;
					font-size: 14px;
					font-weight: 800;
					color: #fff;
					vertical-align: top;
					text-align: right;
					padding: 0 10px;
				}
				.p-value
				{
					display: table-cell;
					vertical-align: middle;
					font-weight: bold;
					color: #fff4b8;
					vertical-align: top;
					text-align: left;
				}
			}
		}
		.profile-button
		{
			display: table-cell;
			vertical-align: middle;
			width: 230px;
			@media screen and (max-width: 1200px)
			{
				display: block;
				width: 100%;
				padding-bottom: 25px;
			}
			button
			{
				width: 200px;
				background-color: transparent;
				border: 2px #fff solid;
				color: white;
				font-size: 14px;
				color: #fff;
				-webkit-border-radius: 3px;
				   -moz-border-radius: 3px;
				        border-radius: 3px;
				font-weight: bold;
				padding: 8px 0;
				margin: 2px 0;
				-webkit-transition: ease 0.3s all;
				   -moz-transition: ease 0.3s all;
				     -o-transition: ease 0.3s all;
				        transition: ease 0.3s all;
				&:hover
				{
					background-color: #2f8ac0;
					border: 2px #2f8ac0 solid;
				}
			}
		}
	}
	.detail
	{
		display: table;
		width: 100%;
		border: 1px solid #e6e7ea;
		border-top: 0;
		-webkit-border-bottom-right-radius: 2px;
		   -moz-border-radius-bottomright: 2px;
		        border-bottom-right-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		   -moz-border-radius-bottomleft: 2px;
		        border-bottom-left-radius: 2px;
		.holder
		{
			background-color: #fcfcfc;
			display: table-row;
			.title
			{
				font-family: "twnormal";
				font-size: 30px;
				color: #bfbfbf;
				line-height: 25px;
				border-right: 1px solid #eceff0;
				display: table-cell;
				vertical-align: middle;
				padding: 30px 0;
				width: 280px;
				@media screen and (max-width: 650px)
				{
					display: block;
					margin: auto;
					width: 100%;
				}
				span
				{
					font-family: "twbold";
				}
			}
			.info
			{
				display: table-cell;
				vertical-align: middle;
				padding: 30px 0 !important;
				@media screen and (max-width: 650px)
				{
					display: block;
					margin: auto;
					width: 100%;
				}
				.holders
				{
					width: 100%;
					display: table;
					.leybel
					{
						font-size: 18px;
						color: #bfbfbf;
						font-family: "twbold";
						font-size: 18px;
						display: table-cell;
						vertical-align: middle;
						text-align: right;
						width: 50%;
						padding: 0 30px;
					}
					.balyu
					{
						display: table-cell;
						vertical-align: middle;
						text-align: left;
						width: 50%;
						color: #333333;
						font-size: 14px;
						padding: 0 30px;
					}
				}
			}
		}
		.holder:nth-child(even) 
		{
			background: #f4f7f8;
			.title
			{
				background-color: #f9fbfb;
			}
		}
		.holder:nth-child(odd) 
		{
			background: #fcfcfc;
			.title
			{
				background-color: #ffffff;
			}
		}
	}
}
.right
{
	padding-right: 0 !important;
	.holder
	{
		background-color: #fff;
		padding: 15px;
		margin-bottom: 20px;
		.notif
		{
			background-color: #25b578;
			border-bottom: 3px solid #1c9f68;
			color: white;
			font-weight: bold;
			font-size: 14px;
		}
		.earn
		{
			background-color: #1396c6;
			color: white;
			font-weight: bold;
			font-size: 14px;
		}
		.header
		{
			margin-top: -15px;
			margin-left: -15px;
			margin-right: -15px;
			padding: 10px 0;
		}
		.holders
		{
			padding: 10px 15px;
			margin-left: -15px;
			margin-right: -15px;
			border-bottom: 3px solid #fafafa;
			.text
			{
				color: #9f9f9f;
				font-size: 13px;
				text-align: left;
				span
				{
					font-weight: bold;
				}
			}
			.date
			{
				text-align: right;
				font-size: 13px;
				color: #7c7c7c;
				font-weight: 700;
			}
			.time
			{
				text-align: right;
				font-size: 13px;
				color: #bcbcbc;
				font-weight: 700;
			}
			.img
			{
				display: table-cell;
				vertical-align: top;
				padding: 0 15px;
				@media screen and (max-width: 400px)
				{
					display: block;
				}
				img
				{
					width: 70px;
				}
			}
			.info
			{
				display: table-cell;
				vertical-align: top;
				text-align: left;
				@media screen and (max-width: 400px)
				{
					display: block;
					text-align: center;
					margin-top: 10px;
				}
				.name
				{
					font-size: 14px;
					color: #41a5e0;
					font-weight: 700;
				}
				.email
				{
					font-size: 12px;
					color: #bfbfbf;
					font-weight: 400;
					margin-top: -6px;
					margin-bottom: 5px;
				}
			}
			.button
			{
				button
				{
					font-size: 11px;
					font-weight: 600;
					background-color: #b5b5b5;
					border: 0;
					-webkit-border-radius: 2px;
					   -moz-border-radius: 2px;
					        border-radius: 2px;
					border-bottom: 4px solid #9c9c9c;
					color: #fff;
					padding: 3px 10px;
					-webkit-transition: ease all 0.3s;
					   -moz-transition: ease all 0.3s;
					     -o-transition: ease all 0.3s;
					        transition: ease all 0.3s;
					&:hover
					{
						background-color: #3595cd;
						border-bottom: 4px solid #3582af;
					}
					&:focus
					{
						background-color: #3595cd;
						border-bottom: 4px solid #3582af;
					}
				}
			}
		}
		.linya
		{
			background-image: url("/resources/assets/frontend/img/linyapa.jpg");
			background-position: center;
			background-repeat: no-repeat;
			height: 15px;
		}
		.linya:last-child
		{
			background-color: #fff;
		}
		.holders-no
		{
			padding: 10px 0;
			border-bottom: 0;
			display: table;
			width: 100%;
			margin: auto;
		}
		.link-holder
		{
			border-top: 1px solid #f1f1f1;
			margin-left: -15px;
			margin-right: -15px;
			.link
			{
				font-weight: 800;
				font-size: 12px;
				color: #61b08f;
				padding: 10px 0;
				display: block;
				margin-bottom: -15px;
			}
		}
	}
}