$font-family: "Open Sans", sans-serif !important;
$background-color: #efefef;
$blue: #474f71;
$orange: #f47265;
$sblue: #40c0c0;
$gray: #aaafb6;
$gray2: #9ea7b3;
$font-color: #77818e;

//ENCASHMENT
.encashment
{
	overflow: hidden;
	.header
	{
		background-color: $blue;
		color: #fff;
		font-size: 14.58px;
		padding: 15px 35px;
		border-bottom: 10px solid #878eab;
		text-align: left;
	}
	.body
	{
		min-height: 400px;
		margin-bottom: 10px;
		background-image: url("/resources/assets/frontend/img/texture.png");
		background-position: center;
		-moz-background-size: cover;
		  -o-background-size: cover;
		     background-size: cover;		
		.header-button
		{
			text-align: right;
			@media screen and (max-width: 768px)
			{
				text-align: center;
				padding: 25px 0;
			}
			a
			{
				color: white;
				button
				{
					background-color: $gray2;
					padding: 7px 30px;
					-webkit-border-radius: 5px;
					   -moz-border-radius: 5px;
					        border-radius: 5px;
					border: 0;
					border-bottom: 2px solid #919aa6;
					border-right: 1px solid #919aa6;
					border-left: 1px solid #919aa6;
					margin: 10px 0;
					@media screen and (max-width: 460px)
					{
						margin: 0px 20px !important;
					}
					@media screen and (max-width: 280px)
					{
						width: 100%;
						padding: 5px 10px !important;
						margin: 0px 2px !important;
					}
				}
			}
		}
		.title
		{
			color: $gray2;
			font-size: 14.58px;
			@media screen and (max-width: 460px)
			{
				margin: 0 20px;
			}
		}
		.ui-sliders
		{
			max-width: 460px;
			margin: 35px auto;
			@media screen and (max-width: 460px)
			{
				margin: 35px 20px;
			}
			input[type="text"]
			{	
				width: 100%;	
				font-size: 14.58px;
				color: #9ea7b3;
				text-align: center;
				padding: 5px 0;	
				border: 1px solid #eeeeee;
			}
			select
			{
				margin-top: 20px;
				color: #9ea7b3;
				font-size: 14.58px;
				width: 100%;
				padding: 5px 0;
				text-align: center;
				border: 1px solid #eeeeee;
			}
			.slider-info
			{
				margin: 25px 0;
				font-size: 12.5px;
				color: #bec4cd;
				height: 20px;
				vertical-align: middle;
			}
			a
			{
				color: white;
				button
				{
					background-color: $orange;
					border: 0;
					margin: 30px 0;
					padding: 10px 40px;
					-webkit-border-radius: 5px;
					   -moz-border-radius: 5px;
					        border-radius: 5px;
					border-bottom: 2px solid #eb685b;
					border-left: 1px solid #eb685b;
					border-right: 1px solid #eb685b;
					@media screen and (max-width: 280px)
					{
						width: 100%;
						padding: 5px 10px !important;
					}
				}
			}
		}
	}
}