$font-family: "Open Sans", sans-serif !important;
$background-color: #efefef;
$blue: #474f71;
$orange: #f47265;
$sblue: #40c0c0;
$gray: #aaafb6;
$gray2: #9ea7b3;
$font-color: #77818e;

.product
{
	@media screen and (max-width: 991px)
	{
		padding: 0 15px !important;
	}
	.header
	{
		font-size: 20.83px;
		img
		{
			height: 40px;
			margin-right: 20px;
		}
	}
	.body
	{
		padding: 30px 20px;
		.holder
		{
			padding: 35px 0;
			border-bottom: 1px solid #e3e6ea;
			.pix
			{
				display: table-cell;
				vertical-align: top;
				@media screen and (max-width: 600px)
				{
					display: block;
					text-align: center;
				}
			}
			.text
			{
				display: table-cell;
				vertical-align: top;
				text-align: left;
				padding: 0 20px;
				@media screen and (max-width: 600px)
				{
					display: block;
					text-align: center;
					padding-top: 15px;
				}
				.name
				{
					color: $sblue;
					font-size: 20.83px;
					font-weight: bold;
				}
				.price
				{
					color: #77818e;
					font-size: 20.83px;
				}
				.description
				{
					font-size: 12.5px;
					color: #77818e;
					margin: 15px 0;
				}
				.boton
				{
					text-align: left;
					@media screen and (max-width: 600px)
					{
						text-align: center;
					}
				}
				a
				{
					color: #eee;
					font-size: 12.5px;
					button
					{
						background-color: $gray2;
						border: 0;
						border-radius: 5px;
						padding: 8px 50px;
						margin-top: 30px;
					}
				}
			}
		}
		.holder:last-child
		{
			border-bottom: 0;
		}
	}
}

.cart
{
	background-color: #fff;
	border-top: 5px solid $orange;
	@media screen and (max-width: 1200px)
	{
		padding: 0 !important;
	}
	@media screen and (max-width: 991px)
	{
		padding: 0 15px !important;
	}
	.header
	{
		color: $orange;
		padding: 20px 0 10px;
		img
		{
			margin: 0 5px;
		}
	}
	.body
	{
		padding: 0 !important;
		@media screen and (max-width: 1200px)
		{
			padding: 0 5px !important;
		}
		@media screen and (max-width: 991px)
		{
			padding: 0 !important;
		}
		table
		{
			width: 100%;
			margin: auto;
			thead
			{
				background-color: $gray2;
				th
				{
					padding: 10px 20px;
					color: white;
					font-size: 14.58px;
					font-weight: 400;
					text-align: center;
				}
			}
			tbody
			{
				color: $font-color;
				font-size: 12.5px;
				border-left: 1px solid #eaeaea;
				border-right: 1px solid #eaeaea;
				border-bottom: 1px solid #eaeaea;
				tr:nth-child(even) {background: #f7f7f7}
				tr:nth-child(odd) {background: #eeeeee}
				td
				{
					padding: 10px 20px;
					border-right: 1px solid #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
				}
				td:last-child
				{
					border-right: 0;
					border-bottom: 0;
				}
				a
				{
					color: $font-color;
				}
				.check
				{
					width: 23px;
					height: 23px;
					position: relative;
					margin: auto;
					input[type="checkbox"]
					{
						width: 23px;
						height: 23px;
						position: absolute;
						top: 0;
						right: 0;
						margin: 0 !important;
						opacity: 0;
						z-index: 20;
					}
					.bgs
					{
					 	position: absolute;
					 	width: 100%;
					 	height: 100%;
					 	top: 0;
					 	left: 0;
					 	right: 0;
					 	bottom: 0;
					 	background-image: url("/resources/assets/frontend/img/no-check.png");
					 	z-index: 10;
					}
					input[type="checkbox"]:checked + .bgs
					{
						background-image: url("/resources/assets/frontend/img/check.png");
					}
				}
			}
		}
		.total
		{
			font-size: 18.75px;
			color: #77818e;
			text-align: right;
			margin: 15px 0;
			span
			{
				font-weight: bold;
			}
		}
		a
		{
			button
			{
				background-color: $orange;
				font-size: 12.5px;
				color: #fff;
				border: 0;
				padding: 8px 50px;
				border-radius: 5px;
				margin-top: 40px;
				margin-bottom: 10px;
			}
		}
	}
}