.setting
{
	text-align: left;
	padding: 20px;
	border: 1px solid #DDD;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	label
	{
		
	}
}

.righty
{
	text-align: right;
	@media screen and (max-width: 991px)
	{
		text-align: center;
	}
	button
	{
		background-image: none;
	}
}

.setting-header
{
	text-align: left;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 25px;
	padding-bottom: 30px;
	.fa
	{
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
	}
	span
	{
		vertical-align: middle;
		display: inline-block;
	}
}

.btn
{
	background-image: none !important;
}

.lefty
{
	text-align: center;
}

textarea
{
	resize: none;
}