.tinde {
  color: #9ea7b3 !important; }

.left {
  padding: 0 !important; }
  .left .profile {
    background-color: #fff;
    display: table;
    table-layout: fixed;
    width: 100%; }
    .left .profile .profile-pic {
      display: table-cell;
      vertical-align: middle;
      width: 180px;
      position: relative;
      padding: 30px; }
      @media screen and (max-width: 600px) {
        .left .profile .profile-pic {
          display: block;
          text-align: center;
          margin: auto; } }
      .left .profile .profile-pic img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 1px solid #bdc2ca;
        width: 120px;
        height: 120px; }
      .left .profile .profile-pic .borders {
        border: 7px solid #BDC2CA;
        position: absolute;
        width: 145px;
        height: 145px;
        top: 17px;
        left: 17px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%; }
    .left .profile .profile-info {
      display: table-cell;
      vertical-align: middle;
      padding: 20px; }
      @media screen and (max-width: 600px) {
        .left .profile .profile-info {
          display: block;
          text-align: center; } }
      .left .profile .profile-info .name {
        color: #77818e;
        font-weight: 800;
        font-size: 29.17px;
        border-bottom: 1px solid #e3e3e4;
        padding-bottom: 5px;
        margin-bottom: 5px; }
      .left .profile .profile-info .email {
        color: #9ea7b3;
        font-size: 16.67px;
        font-weight: 300;
        letter-spacing: 1.5px; }
  .left .info .referral {
    background-color: #f47265;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s; }
    .left .info .referral:hover {
      background-color: #f26153; }
  .left .info .inbox {
    background-color: #474f71;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s; }
    .left .info .inbox:hover {
      background-color: #3f4664; }
  .left .info .leads {
    background-color: #40c0c0;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s; }
    .left .info .leads:hover {
      background-color: #2bacac; }
  .left .info .box {
    padding-bottom: 10px; }
    .left .info .box .img {
      padding: 15px 0; }
      .left .info .box .img img {
        height: 30px; }
    .left .info .box .text {
      font-size: 12.5px;
      color: white; }
      .left .info .box .text span {
        font-size: 14.58px;
        display: inline-block;
        padding: 0 10px; }
  .left .detail .header {
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: #2C324F;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px !important; }
    .left .detail .header img {
      padding: 15px 30px 15px 0; }
  .left .detail .holder {
    background-color: #fff;
    padding: 25px 0;
    border-radius: 3px;
    margin-bottom: 0px; }
    .left .detail .holder .title {
      font-size: 16.67px;
      padding: 5px 10px;
      color: #fff !important;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 18px;
      background-color: #39BABA;
      display: inline-block;
      border-radius: 3px;
      width: 400px; }
      @media screen and (max-width: 400px) {
        .left .detail .holder .title {
          max-width: 100%; } }
    .left .detail .holder .input {
      margin-bottom: 10px; }
    .left .detail .holder .form-group {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important; }
      .left .detail .holder .form-group .highlight {
        font-weight: bold;
        color: #27ADA2 !important; }
      .left .detail .holder .form-group input[type="text"] {
        border: 0;
        font-size: 18px;
        color: #77818e;
        text-align: left;
        background-color: #fff;
        box-shadow: none;
        font-weight: bold; }
        @media screen and (max-width: 991px) {
          .left .detail .holder .form-group input[type="text"] {
            text-align: center; } }
      .left .detail .holder .form-group a {
        border: 0;
        font-size: 18px;
        color: #39BABA;
        text-align: left;
        background-color: #fff;
        box-shadow: none;
        font-weight: bold;
        display: block;
        padding: 4px 10px; }
        @media screen and (max-width: 991px) {
          .left .detail .holder .form-group a {
            text-align: center; } }
      .left .detail .holder .form-group a:hover {
        color: #2AA3A3; }
    .left .detail .holder label {
      color: #77818e;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 16px;
      text-align: right; }
      @media screen and (max-width: 991px) {
        .left .detail .holder label {
          margin-top: 15px; } }

.right .holder {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px; }
  .right .holder .header {
    font-size: 14.58px;
    color: #77818e;
    padding: 20px 0 40px;
    text-transform: uppercase; }
    .right .holder .header img {
      margin: 0 5px; }
  .right .holder a {
    color: white; }
    .right .holder a button {
      background-color: #f47265;
      padding: 5px 60px;
      border: 0;
      border-radius: 5px;
      margin: 20px 0;
      border-bottom: 2px solid #e76356;
      border-left: 1px solid #e76356;
      border-right: 1px solid #e76356;
      font-size: 14.58px;
      width: 90%; }
    .right .holder a button:hover {
      background-color: #CE5B50; }
  .right .holder .holders {
    width: 100%;
    display: table;
    table-layout: fixed; }
    .right .holder .holders .linyanglinya {
      display: table-cell;
      width: 13px;
      vertical-align: top;
      background-image: url("/resources/assets/frontend/img/sobranglupetnalinya.png");
      padding: 10px 15px;
      background-repeat: no-repeat;
      background-position: top center;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
    .right .holder .holders .liness {
      display: table-cell;
      vertical-align: top; }
      .right .holder .holders .liness .pix {
        text-align: left;
        display: table-cell;
        vertical-align: top; }
        .right .holder .holders .liness .pix img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border: 1px solid #c3c8cf; }
      .right .holder .holders .liness .text {
        display: table-cell;
        vertical-align: top; }
        .right .holder .holders .liness .text .name {
          font-size: 16.67px;
          color: #40c0c0; }
        .right .holder .holders .liness .text .email {
          font-size: 12.5px;
          color: #77818e; }
      .right .holder .holders .liness .message {
        color: #9ea7b3;
        text-align: right;
        padding-bottom: 25px; }
        .right .holder .holders .liness .message img {
          margin: 0 5px; }
        .right .holder .holders .liness .message span:hover {
          color: #77818e; }
    .right .holder .holders .text {
      text-align: left;
      color: #77818e;
      padding: 5px 15px;
      margin-bottom: 15px; }
    .right .holder .holders .date {
      text-align: left;
      font-size: 14px;
      color: #40c0c0;
      padding: 0px 15px;
      margin-top: -3px;
      margin-bottom: 10px;
      font-weight: bold; }
  .right .holder .holders:last-child {
    border-bottom: 0; }

/*# sourceMappingURL=dashboard.css.map */
